.dashboards {
    text-align:left;
    margin-bottom:82px;
    .right {
        .status {
            text-align:center;
            font-size: 14px;
            line-height:19px;
            padding-top:16px;
            padding-bottom:16px;
            .fa {
                color:$sunglow-color;
                margin-right:5px;
            }
            @media (max-width: $mobil-device-big-width) {
                border-bottom:$mercury-color 1px dashed;
            }
        }
        @media (max-width: $mobil-device-big-width) {
            &.empty {
                display:none;
            }
        }
        margin-bottom:18px;
    }
    .left {
        margin-bottom:18px;
        .block {
            &:last-child {
                margin-bottom:0;
            }
        }
    }
    .btn-place {
        text-align:right;
        margin-top:32px;
    }
    @media (max-width: 560px) {
        padding-top:20px;
        .btn-place {
            text-align:center;
        }
    }
}

.block.message {
    font-size: 14px;
    line-height:22px;
    color:$dove-gray-color;
    padding:13px 23px;
    b {
        font-weight:600;
    }
    @media (max-width: $mobil-device-big-width) {
        padding:10px;
    }
}

.block {
    .title-block {
        padding:21px 34px;
        font-size: 12px;
        line-height:17px;
        letter-spacing:1px;
        color:$silver-chalice-color;
        border-bottom:$mercury-color 1px solid;
        &:after {
            @include clear;
        }
        a {
            float:right;
            text-transform:uppercase;
            color:$mine-shaft-color;
            font-weight:600;
            .fa {
                color:$gull-gray-color;
            }
            & +  span {
                float:left;
            }
        }
        @media (max-width: $mobil-device-big-width) {
            text-align:center;
            padding-left:10px;
            padding-right:10px;
        }
    }
    &.my-children {
        h3 {
            margin-left:139px;
            margin-bottom:0;
            text-align:left;
            font-size: 18px;
            line-height:24px;
            color:$black-color;
        }
        .link {
            padding-top:12px;
            padding-bottom:20px;
            margin-bottom:-32px;
            text-align:right;
            font-size: 12px;
            line-height:17px;
            letter-spacing:1px;
            font-weight:600;
            a {
                color:$mine-shaft-color;
                text-transform:uppercase;
                .fa {
                    color:$gull-gray-color;
                }
            }
            @media (max-width: $mobil-device-big-width) {
                margin-bottom:-12px;
                text-align:center;
            }
        }
        .flex-wrap {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
        .picture-cell {
            width:139px;
            img {
                width:106px;
                display:block;
                @include radius(50%);
            }
        }
        .text-cell {
            flex-grow:1;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            font-size: 16px;
            line-height:22px;
            table {
                width:auto;
                th {
                    padding-top:14px;
                    padding-right:15px;
                    color:$dove-gray-color;
                    font-weight:normal;
                    text-align:left;
                }
                td {
                    padding-top:14px;
                }
            }
            .label {
                padding-top:14px;
                color:$dove-gray-color;
                display:block;
                text-align:right;
            }
            .var {
                padding-top:14px;
                font-weight:600;
                display:block;
                text-align:right;
                &.no {
                    color:$red-ribbon-color;
                }
                &.yes {
                    color:$breaker-bay-color;
                }
            }
        }
        @media (max-width: $mobil-device-big-width) {
            h3 {
                text-align:center;
                margin-left:0;
            }
            .flex-wrap {
                display:block;
            }
            .picture-cell {
                width:auto;
                margin-top:24px;
                text-align:center;
                margin-bottom:21px;
                img {
                    display:inline-block;
                }
            }
            .link {
                margin-top:-13px;
            }
            .text-cell {
                display:block;
                font-size: 14px;
                line-height:19px;
                margin-bottom:28px;
                table {
                    width:100%;
                    th, td {
                        padding-top:17px;
                        br {
                            display:none;
                        }
                    }
                    th {
                        width:120px;
                        padding-right:0;
                    }
                }
                & div:last-child {
                    &:after {
                        @include clear;
                    }
                    .label {
                        padding-top:17px;
                        width:120px;
                        text-align:left;
                        float:left;
                    }
                    .var {
                        margin-left:120px;
                        padding-top:17px;
                        text-align:left;
                        br {
                            display:none;
                        }
                    }
                }
            }
        }
    }
    &.personal-info {
        h3 {
            margin-bottom:0;
            text-align:left;
            font-size: 18px;
            line-height:24px;
            color:$black-color;
        }
        .link {
            padding-top:12px;
            padding-bottom:20px;
            margin-bottom:-32px;
            text-align:right;
            font-size: 12px;
            line-height:17px;
            letter-spacing:1px;
            font-weight:600;
            a {
                color:$mine-shaft-color;
                text-transform:uppercase;
                .fa {
                    color:$gull-gray-color;
                }
            }
            @media (max-width: $mobil-device-big-width) {
                margin-bottom:-12px;
                text-align:center;
            }
        }
        .flex-wrap {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
        .picture-cell {
            width:139px;
            img {
                width:106px;
                display:block;
                @include radius(50%);
            }
        }
        .text-cell {
            flex-grow:1;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            font-size: 16px;
            line-height:22px;
            table {
                width:auto;
                th {
                    padding-right:15px;
                    padding-top:14px;
                    color:$dove-gray-color;
                    font-weight:normal;
                    text-align:left;
                }
                td {
                    padding-top:14px;
                    max-width:180px;
                    padding-right:10px;
                }
            }
            .label {
                padding-top:14px;
                color:$dove-gray-color;
                display:block;
            }
            .var {
                padding-top:14px;
                display:block;
            }
        }
        @media (max-width: $mobil-device-big-width) {
            h3 {
                text-align:center;
                margin-left:0;
            }
            .flex-wrap {
                display:block;
            }
            .picture-cell {
                width:auto;
                margin-top:24px;
                text-align:center;
                margin-bottom:21px;
                img {
                    display:inline-block;
                }
            }
            .link {
                margin-top:-13px;
            }
            .text-cell {
                display:block;
                font-size: 14px;
                line-height:19px;
                margin-bottom:28px;
                table {
                    width:100%;
                    th, td {
                        padding-top:17px;
                        br {
                            display:none;
                        }
                    }
                    th {
                        width:120px;
                        padding-right:0;
                    }
                }
                & div:last-child {
                    &:after {
                        @include clear;
                    }
                    .label {
                        padding-top:17px;
                        width:120px;
                        text-align:left;
                        float:left;
                    }
                    .var {
                        margin-left:120px;
                        text-align:left;
                        padding-top:17px;
                        br {
                            display:none;
                        }
                    }
                }
            }
        }
    }
    &.transport {
        p {
            font-size: 14px;
            line-height:22px;
            margin-bottom:22px;
            color:$dove-gray-color;
        }
        .form-vertical {
            max-width:470px;
        }
        .select-with-border {
            max-width:214px;
        }
        .label {
            font-size: 14px !important;
            margin-bottom:4px !important;
            line-height:19px !important;
        }
        @media (max-width: 560px) {
            .form-vertical {
                .one-half {
                    width:auto;
                    padding:0 !important;
                    float:none;
                    & + .one-half {
                        margin-top:28px;
                    }
                }
            }
        }
    }
    &.documents {
        .title-block {
            border:none;
        }
        .txt {
            padding-top:10px !important;
        }
        .table {
            border:$mercury-color 1px solid;
            margin-bottom:21px;
            display:table;
            width:100%;
            &:last-child {
                margin-bottom:0;
            }
            .table-row {
                display:table-row;
                &:last-child {
                    .table-cell {
                        border-bottom:none;
                    }
                }
            }
            .table-cell {
                display:table-cell;
                padding-top:20px;
                padding-bottom:10px;
                border-bottom:$mercury-color 1px solid;
                font-size: 15px;
                line-height:20px;
                color:$black-color;
                height:42px;
                b {
                    font-weight:600;
                    color:$mine-shaft-color;
                }
                a {
                    color:$mine-shaft-color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .label {
                    margin-top:3px;
                    font-size: 14px;
                    line-height:19px;
                    color:$tundora-color;
                    &.complete {
                        color:$tradewind-color;
                    }
                }
            }
            .thead {
                .table-cell {
                    height:55px;
                    font-size: 16px;
                    line-height:22px;
                    vertical-align:middle;
                    padding-top:0;
                    padding-bottom:0;
                    color:$dove-gray-color;
                    border-bottom:$mercury-color 1px solid;
                }
            }
            .name-cell {
                padding-left:42px;
                padding-right:10px;
            }
            .date-cell {
                width:28.78%;
                padding-right:10px;
            }
            .status-cell {
                width:28.78%;
                padding-right:10px;
            }
        }
        @media (max-width: 560px) {
            .txt {
                padding-left:0 !important;
                padding-right:0 !important;
                padding-top:0 !important;
            }
            .table {
                border-left:none;
                border-right:none;
                margin-bottom:0;
                border-bottom:none;
                .table-cell {
                    display:block;
                    padding-top:0;
                    padding-bottom:0;
                    font-size: 14px;
                    line-height:22px;
                    height:auto;
                }
                .table-row {
                    display:block;
                    padding-top:14px;
                    padding-bottom:14px;
                    border-bottom:$mercury-color 1px solid;
                    &:last-child {
                        border-bottom:none;
                    }
                    &:after {
                        @include clear;
                    }
                }
                .thead {
                    &.table-row {
                        display:table-row;
                        padding:0;
                    }
                    .table-cell {
                        height:48px;
                        display:table-cell;
                        &.name-cell {
                            width:100%;
                            float:none;
                        }
                    }
                    .date-cell, .status-cell {
                        display:none;
                    }
                }
                .name-cell {
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    padding-left:12px;
                    padding-right:0;
                    width:50%;
                    float:left;
                    border:none;
                }
                .date-cell {
                    width:50%;
                    float:left;
                    padding-left:12px;
                    padding-right:0;
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    clear:left;
                    border:none;
                }
                .status-cell {
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    margin-left:50%;
                    border:none;
                    width:auto;
                    text-align:right;
                    .label {
                        margin-top:0;
                    }
                }
            }
        }
    }
    &.my-bookings {
        .title-block {
            border:none;
        }
        .txt {
            padding-top:10px !important;
        }
        .table {
            border:$mercury-color 1px solid;
            margin-bottom:21px;
            display:table;
            width:100%;
            &:last-child {
                margin-bottom:0;
            }
            .table-row {
                display:table-row;
                &:last-child {
                    .table-cell {
                        border-bottom:none;
                    }
                }
            }
            .table-cell {
                display:table-cell;
                padding-top:15px;
                padding-bottom:15px;
                border-bottom:$mercury-color 1px solid;
                font-size: 15px;
                line-height:20px;
                color:$mine-shaft-color;
                padding-right:15px;
                height:42px;
                vertical-align:middle;
                &:first-child {
                    padding-left:42px;
                }
                &:last-child {
                    padding-right:42px;
                }
                b {
                    font-weight:600;
                }
                .label-status {
                    font-weight:600;
                    &.complete {
                        color:$tradewind-color;
                    }
                    &.waiting {
                        color:$sunglow-color;
                    }
                }
                a {
                    color:$mine-shaft-color;
                    text-decoration: none;
                    letter-spacing:1px;
                    font-weight:600;
                    font-size: 12px;
                }
            }
            .thead {
                .table-cell {
                    height:55px;
                    font-size: 16px;
                    line-height:22px;
                    vertical-align:middle;
                    padding-top:0;
                    padding-bottom:0;
                    color:$dove-gray-color;
                    border-bottom:$mercury-color 1px solid;
                }
            }
        }
        @media (max-width: $mobil-device-big-width) {
            .txt {
                padding-top:0 !important;
            }
            .table {
                border-left:none;
                border-right:none;
                margin-left:-10px;
                margin-right:-10px;
                display:block;
                width:auto;
                &:last-child {
                    border-bottom:none;
                }
                .table-row {
                    display:block;
                    padding-top:16px;
                    padding-left:10px;
                    padding-right:10px;
                    border-bottom:$mercury-color 1px solid;
                    &:last-child {
                        border:none;
                    }
                    &.thead {
                        display:none;
                    }
                }
                .table-cell {
                    display:block;
                    border:none !important;
                    padding-bottom:7px;
                    padding-top:0;
                    padding-right:0 !important;
                    padding-left:0 !important;
                    height:auto;
                    font-size: 14px;
                    line-height:19px;
                    margin-left:80px;
                    &:before {
                        width:80px;
                        float:left;
                        margin-left:-80px;
                        content:attr(data-th);
                        font-size: 14px;
                        line-height:19px;
                        color:$dove-gray-color;
                        font-weight:normal;
                    }
                    &:last-child {
                        text-align:center;
                        padding-top:14px;
                        padding-bottom:16px;
                        margin-left:0;
                    }
                }
            }
        }
    }
}