.with-bg {
    background-color:$porcelain-color;
    header {
        background-color:$white-color;
    }
}
.login-single {
    max-width:580px;
    margin-left:auto;
    margin-right:auto;
    padding-top:38px;
    hr {
        display:block;
        border:none;
        height:0;
        border-top:#E2E2E2 1px dashed;
        margin-top:28px;
        margin-bottom:28px;
        max-width:450px;
        margin-left:auto;
        margin-right:auto;
    }
    .login-form {
        max-width:365px;
        margin-left:auto;
        margin-right:auto;
        padding-top:22px;
        input {
            display:block;
            margin-bottom:10px;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            width:100%;
            padding-left:22px;
            padding-right:22px;
            font-size: 14px;
            line-height:1;
            font-family:inherit;
            color:$mine-shaft-color;
            height:50px;
            border:#E0E7EE 1px solid;
            @include radius(2px);
            font-weight:300 !important;
        }
        @include placeholder($dove-gray-color, 1);
        .btn-place {
            text-align:center;
            font-size: 14px;
            line-height:19px;
            margin-top:32px;
            a {
                color:$dove-gray-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .btn {
                margin-bottom:16px;
            }
        }
    }
    .create-account {
        text-align:center;
        padding-top:44px;
        max-width:360px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:16px;
        h3 {
            margin-bottom:11px;
            font-size: 20px;
        }
    }
}
.register-single {
    max-width:680px;
    margin-left:auto;
    margin-right:auto;
    padding-top:38px;
    h2 {
        margin-bottom:32px;
        text-align:center;
    }
}
.left, .register-single {
    .btn {
        min-width:155px;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    &.create-or-login {
        hr {
            display:block;
            border:none;
            height:0;
            border-top:#E2E2E2 1px dashed;
            margin-top:28px;
            margin-bottom:28px;
            max-width:450px;
            margin-left:auto;
            margin-right:auto;
        }
    }
    &.personal-detail {
        h3 {
            text-align:left;
            font-size: 20px;
            margin-bottom:20px;
        }
        .personal-detail-form {
            max-width:526px;
            margin-left:auto;
            margin-right:auto;
            padding-top:8px;
            .label {
                font-size: 15px;
                line-height:20px;
                color:$black-color;
            }
            .row-form {
                margin-bottom:11px;
                & + .row-form {
                    .label {
                        padding-top:5px;
                    }
                }
            }
            .add-child-btn {
                float:right;
                font-size: 12px;
                line-height:17px;
                color:$mine-shaft-color;
                text-decoration: none;
                letter-spacing:1px;
                font-weight:600;
                margin-top:8px;
                .fa {
                    color:$gull-gray-color;
                }
            }
            .birthday {
                border: 1px solid #E0E7EE;
                @include radius(2px);
                &:after {
                    @include clear;
                }
                .select-with-border {
                    border:none;
                    float:left;
                    @include radius(0);
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    &.day {
                        width:25%;
                    }
                    &.moonth {
                        width:40%;
                        border-left:1px solid #E0E7EE;
                    }
                    &.year {
                        width:35%;
                        border-left:1px solid #E0E7EE;
                    }
                }
            }
            fieldset {
                margin-bottom:37px;
                fieldset {
                    margin-bottom:24px;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
                &.btn-place {
                    margin-top:-12px;
                    &:after {
                        @include clear;
                    }
                    .btn {
                        float:right;
                        margin-left:15px;
                    }
                }
            }
            @include placeholder($dove-gray-color, 1);
            input, textarea, select {
                font-weight:300 !important;
            }
            .select-with-border {
                select {
                    padding-left:13px;
                }
                @media screen and (-webkit-min-device-pixel-ratio:0) {
                    select {
                        text-indent:13px;
                        padding-left:0;
                    }
                }
            }
        }
        hr {
            display:block;
            border:none;
            height:0;
            border-top:#E2E2E2 1px dashed;
            margin-bottom:18px;
            margin-top:0;
        }
        @media (max-width: $mobil-device-big-width) {
            h3 {
                margin-bottom:16px;
            }
            .personal-detail-form {
                max-width:100%;
                .one-half, .one-third, .two-third {
                    padding:0;
                    width:auto;
                    margin-bottom:11px;
                    float:none;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
                .gender, .school-year {
                    float:left;
                    width:50%;
                    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    padding-right:$fields-space / 2;
                    .gender +.school-year {
                        padding-left:$fields-space / 2;
                        padding-right:0;
                    }
                }
                .school-year {
                    padding-right:0;
                }
                fieldset {
                    margin-bottom:32px;
                    fieldset {
                        margin-bottom:16px;
                        &:last-child {
                            margin-bottom:0;
                        }
                    }
                    &.btn-place {
                        text-align:right;
                        margin-top:-6px;
                        text-align:center;
                        .btn {
                            margin-left:8px;
                            margin-right:8px;
                            float:none;
                        }
                        hr {
                            display:none;
                        }
                        .btn.white {
                            margin-top:15px;
                            width:155px;
                            display:block;
                            margin-left:auto;
                            margin-right:auto;
                        }
                    }
                }
            }
        }
    }
}

.steps {
    padding-top:38px;
    text-align:center;
    .bread-crumbs {
        margin-top:-22px;
    }
    h2 {
        margin-bottom:32px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        text-align:left;
        &.same-height {
            align-items: stretch;
        }
    }
    .left {
        width:49.57%;
        padding-right:52px;
        flex-grow:1;
        order:1;
    }
    .right {
        width:386px;
        order:2;
        .block {
            .txt {
                padding-top:30px;
            }
        }
        &.dashboard-right {
            background: url('../images/comma.jpg') no-repeat right top !important;
            background-color:$white-color !important;
            -webkit-background-size:101px auto !important;
            background-size:101px auto !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            h3 {
                font-size: 20px;
                line-height:27px;
                margin-bottom:16px;
                color:$black-color;
                text-align:left;
            }
            .txt {
                padding-left:0px;
                padding-right:0px;
                max-width:275px;
                margin-left:22px;
                margin-right:22px;
                &.season {
                    padding-top:30px;
                    padding-bottom:30px;
                }
                &.help {
                    padding-top:38px;
                    padding-bottom:12px;
                    border-top:$mercury-color 1px dashed;
                    p {
                        font-size: 16px;
                        line-height:26px;
                        margin-bottom:26px;
                    }
                }
                @media (max-width: $mobil-device-big-width) {
                    max-width:100%;
                }
            }
            @media (max-width: $mobil-device-big-width) {
                display:none;
            }
        }
        @media (min-width: $mobil-device-big-width + 1) {
            &.block {
                background:none;
                box-shadow:none;
                @include radius(0);
                margin-bottom:0;
                &.dashboard-right {
                    background-color:$white-color;
                    box-shadow: 0 1px 3px 0 rgba(181,199,218,0.5);
                    @include radius(6px);
                    margin-bottom:18px;
                }
            }
        }
    }
    .login-form {
        max-width:365px;
        margin-left:auto;
        margin-right:auto;
        padding-top:22px;
        input {
            display:block;
            margin-bottom:10px;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            width:100%;
            padding-left:22px;
            padding-right:22px;
            font-size: 14px;
            line-height:1;
            font-family:inherit;
            color:$mine-shaft-color;
            height:50px;
            border:#E0E7EE 1px solid;
            @include radius(2px);
            font-weight:300 !important;
        }
        @include placeholder($dove-gray-color, 1);
        .btn-place {
            text-align:center;
            font-size: 16px;
            line-height:19px;
            margin-top:32px;
            a {
                color:$dove-gray-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .btn {
                margin-bottom:16px;
            }
        }
    }
    .create-account {
        text-align:center;
        max-width:360px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:16px;
        h3 {
            margin-bottom:11px;
            font-size: 20px;
        }
        p {
            margin-bottom:38px;
        }
    }
    .address {
        display: flex;
        justify-content: space-between; /*flex-start flex-end center space-around*/
        margin-bottom:20px;
        p {
            flex-grow:1;
            padding-right:15px;
            margin-bottom:0;
            line-height:22px;
        }
        a {
            font-size: 12px;
            letter-spacing:1px;
            font-weight:bold;
            text-decoration: none;
            white-space:nowrap;
        }
    }
    .payment-info {
        table {
            width:100%;
            th {
                font-size: 16px;
                line-height:22px;
                text-align:left;
                font-weight:normal;
                color:$dove-gray-color;
                padding-bottom:20px;
            }
            tbody {
                td {
                    font-size: 16px;
                    line-height:22px;
                    text-align:right;
                    color:$black-color;
                    padding-bottom:20px;
                }
            }
            tfoot {
                td {
                    padding-top:10px;
                    text-align:right;
                    font-size: 26px;
                    line-height:36px;
                    font-weight:600;
                    color:$mine-shaft-color;
                    &:first-child {
                        border-bottom: 1px solid #E2E2E2;
                        padding-top:14px;
                    }
                }
                th {
                    padding-top:10px;
                    line-height:36px;
                    padding-bottom:8px;
                }
            }
        }
    }
    @media (max-width: $mobil-device-big-width) {
        h2 {
            margin-bottom:22px;
        }
        .wrap {
            display:block;
        }
        .block {
            max-width:100% !important;
            .txt {
                padding-left:10px;
                padding-right:10px;
                padding-bottom:12px;
                padding-top:18px;
            }
        }
        .left, .right {
            width:auto;
            padding-right:0;
            margin-bottom:32px;
        }
        .right {
            .block {
                background:none;
                box-shadow:none;
                @include radius(0);
                margin-bottom:0;
                h3 {
                    margin-bottom:12px;
                    font-weight:normal;
                    font-size: 20px;
                    line-height:28px;
                    b {
                        font-weight:600;
                    }
                }
                .picture, .address {
                    display:none;
                }
            }
        }
        .payment-info {
            table {
                tbody {
                    th, td {
                        font-size: 14px;
                        line-height:19px;
                        padding-bottom:12px;
                    }
                }
                tfoot {
                    td:first-child {
                        padding-top:5px;
                    }
                    th, td {
                        padding-top:4px;
                    }
                    th {
                        font-size: 14px;
                    }
                }
            }
        }
        table {
            th, td {
                font-size: 14px;
            }
            td {
                &:first-child {
                    padding-top:4px;
                    padding-bottom:4px;
                }
            }
        }
        .login-form {
            .btn-place {
                font-size: 14px;
                line-height:19px;
            }
        }
    }
}

.block {
    background-color:$white-color;
    box-shadow: 0 1px 3px 0 rgba(181,199,218,0.5);
    @include radius(6px);
    margin-bottom:18px;
    .picture {
        -webkit-border-radius:6px 6px 0 0;
        border-radius:6px 6px 0 0;
        overflow:hidden;
        img {
            display:block;
            width:100%;
            height:auto;
        }
    }
    .status + .picture {
        @include radius(0);
    }
    h3 {
        text-align:center;
        margin-bottom:28px;
        font-weight:600;
        b {
            font-weight:600;
        }
    }
    .txt {
        padding-left:34px;
        padding-right:34px;
        padding-bottom:32px;
        padding-top:18px;
    }
}