@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Archivo+Black|Poppins:400,700|Varela+Round&display=swap');


$varela: 'Varela Round', sans-serif;
$poppins: 'Poppins', sans-serif;
$archivo: 'Archivo Black', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/*----WIDTH------*/
$device-desk-sm: 1100px;
$device-mob: 960px;
$device-sm: 768px;
$device-xsm: 480px;

$min-width: 320px;
$max-width: 1340px;

$animate-time: .3s;
