.tariffs {
  padding: rem(56) 0 rem(44) 0;
  color: $color-white;

  @include min($width-mob) {
    // >= $width-mob 
    padding: rem(96) 0 rem(96) 0;
  }

  &__container {
    display: flex;
  }

  &__inner {
    margin: 0 auto;
  }

  &__tabs {}

  &__cards-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: rem(20);

    @include min($width-mob) {
      // >= $width-mob 
      flex-direction: row;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: rem(24);

    @include min($width-mob) {
      // >= $width-mob 
      margin-bottom: rem(40);
    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;

  &__list {
    @include no-list;
    background-color: rgba(106, 84, 255, 0.4);
    padding: rem(4);
    border-radius: rem(4);
    display: flex;
    box-sizing: border-box;
    width: 100%;

    @include min($width-mob-sm) {
      // >= $width-mob-xs 
      width: rem(413);
    }
  }

  &__list-item {
    flex: 0 0 50%;

    &.active .tabs__btn {
      background-color: $color-q;
      font-weight: 700;
      color: $color-black;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(18);
    height: rem(44);
    color: $color-q;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: rem(4);

    @include min($width-mob) {
      // >= $width-mob 
      font-size: rem(24);
    }

    &:hover {
      color: $color-q;
    }
  }

  &__items-wrap {
    display: flex;
    justify-content: center;
    margin-top: rem(24);

    @include min($width-mob) {
      // >= $width-mob 
      margin-top: rem(44);
    }
  }

  &__item {
    position: absolute;
    left: -10000vw;
    opacity: 0;
    transition: opacity $animate-time ease-in-out;

    &.active {
      position: static;
      left: 0;
      opacity: 1;
    }
  }
}

.tariffs-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(16);
  border-radius: rem(8);
  border: 1px solid $color-purple;
  max-width: none;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
  transition: background-color $animate-time ease-in-out, top $animate-time ease-in-out;

  @include min($width-mob-sm) {
    // >= $width-mob-xs 
    max-width: rem(413);
  }

  @include min($width-mob) {
    // >= $width-mob 
    padding: rem(24);
  }

  &:hover {
    background-color: $color-purple;
    // transform: translateY(rem(-4));
    top: rem(-8);
  }

  &__title {
    font-size: rem(20);
    margin-bottom: rem(16);
    line-height: 1.45;
    font-weight: 500;

    @include min($width-mob) {
      // >= $width-mob 
      margin-bottom: rem(48);
      font-size: rem(32);
    }
  }

  &__features-list {
    @include no-list;
    margin-inline: rem(-16);
    margin-bottom: auto;
    margin-top: 0;
    font-size: rem(16);
    line-height: 1.25;

    @include min($width-mob) {
      // >= $width-mob 
      margin-inline: rem(-24);
    }
  }

  &__features-item {
    padding: rem(8) rem(16) rem(8) rem(36);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    background: url("../img/li-bullet.svg") no-repeat rem(14.5) rem(12) / rem(12) auto;

    @include min($width-mob) {
      // >= $width-mob 
      background-position: rem(22.5) rem(12);
      background-size: rem(12) auto;
      padding: rem(8) rem(24) rem(8) rem(46);
    }
  }

  &__tarifs-price-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(42);
    margin-top: auto;
    margin-bottom: rem(26);
  }

  &__tarifs-price {
    font-size: rem(35);
    line-height: 1.14;
    font-weight: 500;

    sup {
      font-size: em(18, 35);
      color: rgba(53, 255, 158, 1);
      vertical-align: super;
      line-height: 1;
      position: relative;
      top: -0.3em;
      font-weight: 400;
    }
  }

  &__tarifs-select {
    display: inline-flex;
    position: relative;
    width: rem(132);

    select {
      display: block;
      width: 100%;
      border: none;
      text-overflow: ellipsis;
      appearance: none;
      background: none;
      font-family: inherit;
      height: rem(36);
      padding: 0 rem(34) 0 rem(8);
      font-size: rem(16);
      line-height: rem(16);
      color: $color-white;
      border-radius: rem(4);
      background: rgba(255, 255, 255, 0.2) url("../img/dropdown.svg") no-repeat center right rem(8);
      background-size: rem(24) auto;
    }

    select:-moz-focusring {
      color: transparent;
      // цвета текста
      text-shadow: 0 0 0 $color-white;
    }

    select::-ms-expand {
      display: none;
    }

    select:focus {
      outline: none;
      border-color: #ccc;
      box-shadow: none;
      -webkit-focus-ring-color: transparent;
    }

    option {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__tarifs-select-icon {
    position: absolute;
    right: rem(8);
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: rem(10);
    line-height: rem(20);
    font-size: rem(16);
  }

  &__btn-note {
    font-size: rem(12);
    line-height: 1;
    color: rgba(3, 7, 24, 0.56);
  }
}