$mobile-first: 0;

:root {
  --root-font-size: 16;
  font-size: calc(var(--root-font-size) * 1px);
  height: 100%;
}

//----Color const-----*/
$color-purple: rgba(106, 84, 255, 1);
$color-q: rgba(87, 225, 255, 1);
$color-white: #fff;
$color-black: #000;
$color-back-default: #030718;

$link-default-color: inherit;
$link-hover-default-color: inherit;
$link-decoration: underline;
$link-hover-decoration: none;

//----Size container const------*/

$width-container: 1440;
$padding-container-desk: 80;
$padding-container-desk-sm: 15;
$padding-container-tab: 15;
$padding-container-mob: 15;
$padding-container-mob-xs: 15;

//----media const------*/
$width-desk-sm: 1400;
$width-tab: 1262;
$width-tab-sm: 1150;
$width-tab-xs: 960;
$width-mob: 768;
$width-mob-sm: 560;
$min-width: 375;

$animate-time: .2s;