.footer {

  &__container {
    margin-top: 7rem;
  }

  &__inner {
    margin-top: 7rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.9rem 6.8rem;
    font-size: 1.1rem;
    letter-spacing: 0.055rem;    
    color: $light-color;
    &:before {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(to right, transparent 0%, #c7c7c6 40%, #c7c7c6 60%, transparent 100%);
    }
    &:after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, transparent 0%, #c7c7c6 40%, #c7c7c6 60%, transparent 100%);
    }
  }

  &__copy {
  }

  &__exp {
    text-align: center;
  }

  &__madein {
    text-align: right;
  }
  @media screen and (max-width: $phablet) {
    &__inner {
      display: block;
      margin-top: 3.5rem;
    }
    &__copy, &__exp, &__madein {
      text-align-last: left;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}