.slider {
  display: none;
  .flip {
    transform: rotateY(-45deg);
    border-radius: 5px;
    position: relative;
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      border: white 3px solid;
      border-radius: 5px;      
    }
  }
  img {
    display:block;
    width: 100%;
    height: auto;
  }
}

.slider-opacity {

  &__viewport {
    perspective: 80rem;
    transform-style: preserve-3d;
    position: relative;
    //margin-left: -2rem;
    margin-right: 2rem;
    @media screen and (max-width: $tablet) {
      margin-right: 0;
    }
  }

  &__sliderwprapper {
    transform: rotateY(-7deg);
    position: relative;
    @include no-list;
    overflow: hidden;	
    margin-left: -2rem;
    @media screen and (max-width: $tablet) {
      transform: none;
      margin-left: 0;
    }
  }

  &__slide {
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position:absolute;
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 1.4rem;
      top: 1.4rem;
      right: 1.4rem;
      bottom: 1.4rem;
      z-index: 2;
      border: rgba(255,255,255,.46) .2rem solid;
      border-radius: 9rem 9rem 9rem 9rem;
      @media screen and (max-width: $tablet) {
        border-radius: 4rem;
      }
    }
    img {
      display:block;
      width: 100%;
      height: auto;
      border-radius: 10rem;
      position: relative;
      z-index: 1;
      @media screen and (max-width: $tablet) {
        border-radius: 5rem;
      }
    }

    &_active {
        opacity: 1;
        z-index: 3;
        position:relative;
    }
  }
  &__controls {
    width: 10.4rem;
    height: 10.7rem;
    background: url('../images/slider/bg.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-color;
    font-family: $berl;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 0.16rem;
    left: 5.2rem;
    bottom: -3.8rem;
    position: absolute;
    z-index: 100;
  }
  &__active-num {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }
  &__btn-prev, &__btn-next {
    width: 2.8rem;
    height: 2.6rem;
    background: url('../images/slider/arrow.png') no-repeat center;
    background-size: 1.2rem auto;
    opacity: .5;
    cursor: pointer;
    transition: opacity $animate-time ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &__btn-prev {
    transform: scaleX(-1);
  }
}
