h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  min-height: 100%;
  background-color: $color-back-default;
  font-weight: 400;
  font-style: normal;
  min-width: $min-width * 1px;
  display: flex;
  flex-direction: column;

  &.debug * {
    outline: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.1);
  }
}

[class*="container"] {
  max-width: rem($width-container);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-inline: rem($padding-container-mob-xs);

  @include min($width-mob-sm) {
    // для мобилок >= $width-mob-sm 
    padding-inline: rem($padding-container-mob);
  }

  @include min($width-mob) {
    // для планшетов и десктопов >= $width-mob 
    padding-inline: rem($padding-container-tab);
  }

  @include min($width-tab) {
    // для десктопов >= $width-tab 
    padding-inline: rem($padding-container-desk-sm);
  }

  @include min($width-desk-sm) {
    // для десктопов >= $width-desk-sm 
    padding-inline: rem($padding-container-desk);
  }


}

body.scroll-lock {
  overflow: hidden !important;
}

.wrapper-global {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 1 1 auto;
}

body.scroll-lock .wrapper-global {
  overflow-y: scroll;

  scrollbar-color: transparent transparent;

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.main {
  flex: 1 1 auto;
  padding-top: rem(64);
}

a {
  color: $link-default-color;
  text-decoration: $link-decoration;
  transition: all $animate-time ease-in-out;

  &:hover {
    color: $link-hover-default-color;
    text-decoration: $link-hover-decoration;
  }
}

.icon {
  display: inline-flex;
  transition: stroke $animate-time ease-in-out, fill $animate-time ease-in-out;

  &--close {
    @include sizerem(32, 32);
    fill: $color-white;
  }

  &--burger {
    @include sizerem(32, 32);
    fill: $color-white;
    display: block;
  }

  &--arrow {
    @include sizerem(36, 36);
    stroke: currentColor;
    stroke-width: 1.5;
    fill: none;
  }

  &--arrow-profit {
    @include sizerem(11, 18);
    stroke: currentColor;
    stroke-width: 2;

    &-down {
      transform: scaleY(-1);
    }
  }

  &--dropdown {
    @include sizerem(24, 24);
    stroke-width: 1.4;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}