.btn {
  display: inline-flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: $title-font;
  text-decoration: none;
  color: $selected-color;
  transition: all $animate-time ease-in-out;
  box-sizing: border-box;
  &:before {
    display: block;
    content: '';
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    transform: skewX(-14deg);
    border: 2px solid $selected-color;
    border-bottom: none;
    z-index: 1;
  }
  &:after {
    display: block;
    content: '';
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: skewX(-14deg);
    border: 2px solid $selected-color;
    border-top: none;
    z-index: 1;
    margin-bottom: 1px;
  }
  &:hover, &_active {
    &:before, &:after {
      background-color: $selected-color;
    }
    color: $black-color;
  }
  span {
    position: relative;      
    z-index: 2;
  }
  &__num {
    top: 1.3rem;
    font-weight: normal;
    font-style: normal;
    font-family: $default-font;
  }
  &_xsmall {
    height: 4.2rem;
    padding: 0 1.8rem;
    font-size: 3rem;    
    min-width: 3.2rem;
    box-sizing: border-box;
  }
  &_small {
    height: 5.3rem;
    padding: 0 3.5rem;
    font-size: 2rem;    
  }
  &_big {
    height: 7.9rem;
    padding: 0 3.5rem;
    font-size: 4.2rem;    
    &:before {
      left: -0.3rem;
    }
    &:after {
      right: -0.3rem;
    }
  }
  @media (max-width: $tablet) {
    &__num {
      top: .8rem;
    }
    &_xsmall {
      height: 3.2rem;
      padding: 0 1.5rem;
      font-size: 2.5rem;
      min-width: 2.2rem;
    }
    &_small {
      height: 4.3rem;
      font-size: 1.6rem;
      padding: 0 2.5rem;
    }
    &_big {
      height: 6.9rem;
      padding: 0 3.5rem;
      font-size: 2.2rem;
    }
  }
  @media (max-width: $phone) {
    &_small {
      font-size: 1.2rem;
      padding: 0 1.5rem;
      height: 3.8rem;
    }
  }
}