.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  &__item {
    margin-left: 2.2rem;
    height: 2.4rem;
    &:first-child {
      margin-left: 0;
    }
    img {
      display: block;
      height: 100%;
    }
  }
  @media (max-width: $tablet) {
    &__item {
      margin-right: 1.5rem; 
      margin-left: 0;     
    }
  }
  @media (max-width: $phablet) {
    &__item {
      height: 1.8rem;
    }
  }
}
.storage {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    height: 2.5rem;
    img {
      display: block;
      height: 100%;
    }
  }
  @media (max-width: $tablet) {
    &__item {
      margin: 0 2rem;
    }
  }
  @media (max-width: $phablet) {
    &__item {
      margin: 0 1.5rem;
    }
  }
  @media (max-width: $phone) {
    justify-content: flex-start;
    flex-wrap: wrap;
    &__item {
      margin-left: 0;
      margin-right: 1.5rem;
      margin-top: .4rem;
      margin-bottom: 0.4rem;
    }
  }
}
.pay-method {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__item {
    margin-right: 3rem;
    margin-left: 3rem;
    img {
      display: block;
      width: 100%;
    }
    &_plus18 {
      width: 3.8rem;
    }
    &_visa {
      width: 6rem;
    }
    &_mc {
      width: 4.4rem;
    }
  }
  @media (max-width: $tablet) {
    &__item {
      margin-right: 0;      
    }
  }
  @media (max-width: $phablet) {
    &__item {
      margin-left: 1.5rem;
      &_plus18 {
        width: 2.4rem;
      }
      &_visa {
        width: 3rem;
      }
      &_mc {
        width: 3rem;
      }
    }    
  }
  @media (max-width: $phone) {
    flex-wrap: wrap;
    &__item {
      margin-top: .4rem;
      margin-bottom: 0.4rem;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;

  &__social {
    width: 33.333%;
  }

  &__pay-method {
    width: 33.333%;
  }
  @media (max-width: $phone) {
    &__social {
      display: none;
    }
    &__storage, &__pay-method {
      width: 50%;
    }
  }
}

