.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  &__logo {
    width: 22rem;    
    img {
      display: block;
      width: 100%;
    }
  }

  &__btn {
    margin-bottom: 1rem;
  }
  @media (max-width: $tablet) {
    &__logo {
      width: 17rem;
    }
    margin-bottom: 3.6rem;
  }
  @media (max-width: $phablet) {
    &__btn {
      margin-bottom: 0;
      margin-left: 3rem;
    }
  }  
}