.start-now {
  padding: rem(16) 0;
  background-color: $color-purple;
  color: $color-white;

  @include min($width-mob) {
    // >= $width-mob 
    padding: rem(40) 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: rem(20);


    @include min($width-mob) {
      // >= $width-mob 
      align-items: center;
    }

    @include min($width-tab-sm) {
      // @include min(a, b) {...}
      // a <= x <= b
      flex-direction: row;
    }
  }

  &__title {
    flex: 1 1 auto;
    font-size: rem(20);
    line-height: rem(28);
    font-weight: 500;

    @include min($width-mob-sm, $width-tab-sm - 0.1) {
      // >= $width-mob-sm 
      text-align: center;

      br {
        display: none;
      }
    }

    @include min($width-mob) {
      // >= $width-mob 
      font-size: rem(28);
      line-height: rem(36);
    }
  }

  &__form {
    flex: 0 0 perc(522, 1280);

    @include min($width-mob) {
      // >= $width-mob-sm 
      min-width: rem(560);
    }
  }
}