.btn {
  display: inline-flex;
  border: $btn-color 1px solid;
  height: 28px;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: $white-color;
  transition: all $animate-time ease-in-out;
  &:hover {
    background-color: $btn-color;
  }
}