.clients-list {
  padding: 50px 0 40px;
  &__row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__column {
    width: 30%;
    padding: 0 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &:nth-child(3n) {
      width: 40%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    &:hover {
      z-index: 5;
    }
  }

  &__inner {
    left: 0;
    right: 0;
    top: 0;
    flex: 1 1 auto;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $item-color;
    transition: box-shadow $animate-time ease-in-out;
    p {
      margin-bottom: 11px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover {
      position: absolute;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
      .clients-list__additional-inf {
        max-height: 250px;
        position: relative;
        left: 0;
      }
    }
  }

  &__txt {
    flex: 1 1 auto;
  }

  &__additional-inf {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: -10000px;
    transition: max-height $animate-time ease-in-out;
  }

  &__btn-place {
    display: flex;
    justify-content: center;
  }
  @media (max-width: $tablet) {
    padding: 25px 0 15px;
    &__column {
      width: 50%;
      &:nth-child(3n) {
        width: 50%;
      }
    }
  }
  @media (max-width: $phone) {
    &__column {
      width: 100%;
      &:nth-child(3n) {
        width: 100%;
      }
    }
  }
}