h1 {
  font-size: 9.1rem;
  line-height: 1em;
  font-style: italic;
  font-weight: bold;  
  font-family: $title-font;
  text-transform: uppercase;  
  transition: all $animate-time ease-in-out;
  @media (max-width: $tablet) {
    font-size: 6.2rem;
  }
  @media (max-width: $phablet) {
    font-size: 5.2rem;
  }
  @media (max-width: $phone) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.85rem;
  line-height: 1em;
  font-style: italic;
  font-weight: bold;
  font-family: $title-font;
  text-transform: uppercase;
  transition: all $animate-time ease-in-out;
  @media (max-width: $tablet) {
    font-size: 2.8rem;
  }

  @media (max-width: $phablet) {
    font-size: 2.4rem;
  }
}