.hover-tremor {
  @keyframes tremor {
    0% {
      transform: translateX(0);  
    }
    10% {
      transform: translateX(-10%);
    }
    20% {
      transform: translateX(10%);
    }
    30% {
      transform: translateX(-8%);
    }
    40% {
      transform: translateX(8%);      
    }
    50% {
      transform: translateX(-6%);
    }
    60% {
      transform: translateX(6%);
    }
    70% {
      transform: translateX(-4%);
    }
    80% {
      transform: translateX(4%);
    }
    90% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  &__target {
    animation-duration: $animate-time*1.5;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  &:not(.active):hover {
    .hover-tremor__target {
      animation-name: tremor;
    }
  }
}
