.main {
  border-radius: rem(30);
  background: url("../images/bg-inner.png") no-repeat left center;
  background-size: cover;
  &--exchange {
    padding: rem(38) rem(96) rem(38) rem(100);
  }
  &--history {
    padding: rem(38) rem(96) rem(38) rem(100);
  }

  &--verify {
    padding: rem(38) rem(100);
  }

  &--account {
    padding: rem(67) rem(100) rem(39);
  }

  &--faq {
    padding: rem(27) rem(30) rem(85) rem(63);
  }

  &--article {
    padding: rem(29) rem(130) rem(63) rem(63);
  }

  &--recovery {
    padding: rem(98) rem(30);
    display: flex;
  }

  &__form-recovery {
    margin: auto;
    width: rem(624);
    max-width: 100%;
    transform: translateY(rem(-60));
  }

  @media only screen and (orientation: portrait) {
    background: none;
    background: rgba(255, 255, 255, 0.76);
    border: 1px solid #FAFAFA;
    box-shadow: 0 rem(4) rem(30) rem(6) rgba(129, 128, 134, 0.06);
    border-radius: rem(22);
    &--exchange {
      padding: rem(12) rem(15) rem(29);
      max-height: none;
    }
    &--history {
      padding: rem(20) rem(15) rem(46);
    }
    &--verify, &--account {
      background: none;
      border-radius: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }
    &--faq {
      padding: rem(12) 0 rem(34) rem(15);
    }
    &--article {
      padding: rem(12) rem(15) rem(50);
    }
    &--recovery {
      padding: 0;
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 0;
      display: block;
    }
    &__form-recovery {
      transform: none;
      margin: 0;
    }
  }
}