.sidebar {
  padding-top: rem(10);
  &__close {
    display: none;
    border: none;
    padding: rem(10);
    border-radius: 0;
    background: none;
    cursor: pointer;    
    position: absolute;
    right: rem(10);
    top: rem(6);
    &:hover {
      .icon--close {
        fill: $default-btn-color;
      }
    }
  }
  &__nav {
    margin-top: rem(38);
    padding-bottom: rem(20);
    margin-bottom: vh(40, 1080);
  }
  &__autoexchange {
  }

  @media only screen and (orientation: portrait) {
    &__close {
      display: block;
    }
    &__nav {
      margin-top: 0;
    }
    &__autoexchange {
    }
  }
}