section.comments-block {
  .comments-block__header {
    margin-bottom: rem(28);
    .content-block__title {
      font-size: rem(28);
      line-height: em(32, 28);
    }
  }
}

.commentlist {
  @include no-list;

  .comment:not(:last-child) {
    margin-bottom: rem(32);
  }

  .comment-container {
    padding-left: rem(64);
    position: relative;
  }

  .comment-head {
    margin-bottom: rem(8);
    display: flex;
    justify-content: flex-start;
    line-height: rem(20);
  }

  .name {
    font-size: rem(16);
    font-weight: 700;
    margin-right: rem(8);
  }

  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: rem(48);
    height: rem(48);
    overflow: hidden;
    border-radius: 50%;
    background-color: $c-bg-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(22);
    line-height: em(24, 22);
    font-weight: 800;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .date {
    font-size: rem(14);
    color: #636F7D;
  }

  .comment-entry {
    margin-bottom: rem(8);
    font-size: rem(16);
    line-height: em(26, 16);
  }

  .comment-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: rem(20);
  }

  .reply {
    font-size: rem(14);
    font-weight: 600;
    color: $c-link;
    margin-right: rem(24);
    a {
      text-decoration: none;
    }
  }

  .like {
    padding-left: rem(20);
    color: #00D02E;
    font-size: rem(14);
    font-weight: 600;
    margin-right: rem(12);
    background: url("../images/thumbs-up.svg") no-repeat left center;
  }

  .dislike {
    padding-left: rem(20);
    color: #FF3D12;
    font-size: rem(14);
    font-weight: 600;
    background: url("../images/thumbs-down.svg") no-repeat left center;
  }

  .children {
    margin-left: rem(64);
    margin-top: rem(24);
    .comment:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
  @media screen and (max-width: $xs-mob-width) {
    .comment-container {
      padding-left: 0;
      position: static;
    }
    .comment-head {
      padding-left: rem(52);
      position: relative;
      display: flex;
      flex-direction: column;      
    }
    .name {
      font-size: rem(14);
      line-height: em(20, 14);
      margin-bottom: rem(2);
      margin-right: 0;
    }
    .date {
      font-size: rem(12);
      line-height: em(18, 12);
    }
    .avatar {
      width: rem(40);
      height: rem(40);      
      font-size: rem(20);
    }
    .comment-entry {
      line-height: em(24, 16);
    }
    .children {
      margin-left: rem(28);
      margin-top: 1rem;
      .comment {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
    .comment:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
}

.add-comment {
  margin-bottom: rem(40);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__ava {
    flex: 0 0 rem(48);
    height: rem(48);
    border-radius: 50%;
    overflow: hidden;
    background: url("../images/icon-user.svg") no-repeat bottom center;
    background-size: rem(39);
    background-color: rgba(0, 148, 255, 0.08);
    margin-right: rem(16);
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__input {
    flex: 1 1 auto;
    min-width: 0;
    input[type=text], textarea {
      display: block;
      line-height:1;
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      height: rem(48);
      padding: 0 rem(20);
      font-size: rem(16);
      border-radius: rem(4);
      transition: border-color s ease-in-out;
      color: inherit;
      background-color: #fff;
      border: rem(1) solid $c-borbtnwhite;
    }
    textarea {
      line-height: em(24, 16);
      padding-top: rem(12);
      padding-bottom: rem(12);
      overflow: hidden;
    }
    @include placeholder(#636F7D,.5);
  }
  @media screen and (max-width: $xs-mob-width) {
    &__ava {
      display: none;
    }    
  }
}
