section.content-block, div.content-block, .content-block {
  margin-bottom: rem(48);
  padding-top: rem(16);
  &--rounded {
    padding: rem(24);
    background-color: #fff;
    border-radius: rem(12);
    border: rem(1) solid $c-borbtnwhite;
  }

  &--small-margin-bottom {
    margin-bottom: rem(24);
  }

  &__header {
    margin-bottom: rem(20);
  }

  &__title {
    flex: 1 1 auto;
    margin-bottom: 0;
    font-size: rem(22);
    line-height: em(26, 22);
    font-weight: 900;
    &--big {
      font-size: rem(32);
      line-height: em(36, 32);
      .title-with-icon__icon {
        margin-top: .225rem;
      }
    }
  }

  @media screen and (max-width: $xs-mob-width) {
    margin-bottom: rem(20);
    &--rounded {
      padding: rem(16);
    }
    &__header {
      margin-bottom: rem(16);
    }
/***********************temp**************************/
    &--no-round-mob {
      padding: rem(16);
      border-radius: 0;
      margin-left: -.75rem;
      margin-right: -.75rem;
      background-color: #fff;
      border: none;
      &:first-child {
        margin-top: -1.25rem;
      }
    }
/***********************************************/    
  }
  @media screen and (max-width: $xs-mob-width) {
    &__title {
      &--big {
        font-size: rem(28);
        line-height: em(32, 28);
        .title-with-icon__icon {
          margin-top: 0.1rem;
        }
      }
    }
  }
}

.btn-bonus.btn {
  background-color: $c-bginput-dis;
  position: relative;
  padding-left: rem(36);
  padding-right: 0;
  color: inherit;
  overflow: hidden;
  font-size: rem(18);
  .btn__icon {
    left: rem(12);
    top: rem(6);
    position: absolute;
  }  
  @include min(601) {
    padding-left: 2.65rem;
    padding-right: .75rem;
  }
  @media screen and (max-width: $xs-mob-width) {
    padding-left: 2.15rem;
    padding-right: .375rem;
    .btn__icon {
      left: rem(6);
    }
  }
    > span:not(.btn__icon) {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      flex: 1 1 auto;
      text-align: center;
    }
}

.btn-bonus.btn.btn--big {
  font-size: rem(26);
  line-height: em(32, 26);
  .btn__icon {
    top: rem(10);
  }
}

  .btn-code.btn {
    flex: 0 0 100%;    
    position: relative;
    color: $c-main;
    overflow: hidden;

    .btn__icon {
      position: absolute;
      width: rem(20);
      left: rem(12);
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      color: $c-main;
      .fill {
        fill: $c-link;
        fill-opacity: 1;
      }      
    }
    > span:not(.btn__icon) {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      flex: 1 1 auto;
      text-align: center;
      position: relative;
    }
    @include min(601) {
      padding-right: .75rem;
      padding-left: 2.275rem;
    }
    @media screen and (max-width: $xs-mob-width) {
      padding-left: 2.15rem;
      padding-right: .375rem;
      .btn__icon {
        left: rem(6);
      }
    }
  }

.btn-code.btn.btn--dark.btn--dark-w-border {
  color: #fff;
  .btn__icon {
    left: rem(8);
  }  
}

.no-round-n-full-width-mob {
  &--small-margin-bottom {
    margin-bottom: rem(24);
  }
  @media screen and (max-width: $xs-mob-width) {
    padding: rem(16);
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 0;
    margin-left: -.75rem;
    margin-right: -.75rem;
    background-color: #fff;
    border: none;
    &--transparent-bg {
      background-color: transparent;
    }
    &:first-child {
      margin-top: -1.25rem;
      padding-top: 1.25rem;
    }
    section.content-block {  
      &.comments-block {
        padding-top: rem(24);
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: -1rem;
          right: -1rem;
          top: 0;
          border-top: rem(1) solid $c-borbtnwhite;
        }
      }
      &--rounded {
        border: none;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
      }
    }
    section.article-block {
      padding-bottom: 0;
    }
  }
  section.content-block {
    &:last-child {
      margin-bottom: 0;
    }
  }
}



.header-with-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__control {
    display: inline-flex;
    justify-content: flex-start;
    white-space: nowrap;
   &--link {
    color: $c-link;
    font-size: rem(12);
    line-height: em(16, 12);
    font-weight: 500;
    display: inline-flex;
    text-decoration: none;
    margin-top: .6rem;
    img {
      width: rem(16);
      display: block;
      margin-right: rem(4);
    }
    &:hover {
      color: $c-link-hover;
      fill: $c-link-hover;
    }

   }
  }
  @media screen and (max-width: $xs-mob-width) {
    flex-wrap: wrap;
  }
}
.title-with-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &__icon {
    margin-right: rem(8);
    flex: 0 0 rem(32);
    height: rem(32);
    border: rem(1) solid $c-borbtnwhite;
    border-radius: rem(4);
    position: relative;
    img {      
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--no-border {
      border: none;      
    }
    &--big-inner {
      img {
        object-fit: contain;
      }
    }
  }

  &__text {
    padding-top: rem(3);
  }

  &--big {
    font-size: rem(30);
    line-height: em(36, 32);
    .title-with-icon__icon {
      margin-top: .325rem
    }
  }
  @media screen and (max-width: $xs-mob-width) {
    &--big {
      font-size: rem(28);
      line-height: em(32, 28);
      .title-with-icon__icon {
        margin-top: .2rem;
      }
    }
  }
}
.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(14);
  background-color: inherit;
  &__stars {
    height: em(12, 14);
    width: calc(em(12, 14) * 5);
    min-width: calc(em(12, 14) * 5);
    position: relative;
    margin-right: em(4, 14);
    background-color: inherit;
  }

  &__stars-disabled {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("../images/star-gray.svg") repeat-x left top;
    background-size: em(12, 14) em(12, 14);
    background-color: inherit;
  }

  &__stars-enabled {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("../images/star-gold.svg") repeat-x left top;
    background-color: inherit;
    background-size: em(12, 14) em(12, 14);
  }

  &__nums {
    font-size: em(12, 14);
    line-height: em(16, 12);
    color: #636F7D;
    white-space: nowrap;
    b {
      font-size: em(14, 12);
      color: $c-main;
    }
  }
}

.scroll-block {
  overflow: auto;
  width: 100%;
}

.btn-load {
  display: flex;
  justify-content: center;
  .btn__icon {
    margin-left: -.75rem;
  }
}

.breadcrumbs {
  font-size: rem(12);
  line-height: em(24, 12);
  color: #636F7D;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  //flex-wrap: wrap;
  margin-bottom: rem(24);
  &__item:not(:last-child) {
    padding-right: rem(18);
    background: url("../images/chevrons-right.svg") no-repeat right .4rem;
    background-size: rem(12) auto;
    margin-right: rem(6);
  }
  a {
    text-decoration: none;
  }
  @media screen and (max-width: $xs-mob-width) {
    margin-bottom: rem(4);
    white-space: nowrap;
  }
}
