.title {
  font-size: rem(28);
  font-weight: bold;
  line-height: 1.28;
  text-transform: uppercase;
  color: inherit;

  @include min($width-mob) {
    // >= $width-mob 
    font-size: rem(36);
  }

  @include min($width-tab-xs) {
    // >= $width-tab-sm
    font-size: rem(44);
  }


}