@use "../../../styles/helpers/functions";
@use "../../../styles/helpers/mixins";
@use "../../../styles/helpers/variables";

.subscribe-form {
  --inline-form-padding: #{functions.rem(4)};
  --inline-border-radius: #{functions.rem(4)};
  --inline-background-color: rgba(32, 26, 79, 1);
  --inline-form-input-font-size: #{functions.rem(16)};
  --inline-form-input-padding-inline: #{functions.rem(16)};
  --inline-form-input-color: #FFFFFF;
  --inline-form-placeholder-color: var(--inline-form-input-color);
  --inline-form--placeholder-opacity: 0.34;

  display: flex;
  padding: var(--inline-form-padding);
  border-radius: var(--inline-border-radius);
  background-color: var(--inline-background-color);

  &__input {
    flex: 1 1 auto;
    background: none;
    border: none;
    outline: none;
    color: var(--inline-form-input-color);
    font-family: inherit;
    min-width: 0;
    box-sizing: border-box;
    font-size: var(--inline-form-input-font-size);
    padding-inline: var(--inline-form-input-padding-inline);
    @include mixins.placeholder(var(--inline-form-placeholder-color), var(--inline-form--placeholder-opacity));
  }


  @include mixins.max(variables.$width-mob - 0.1) {

    // для мобилок
    &.about__subscribe,
    &.start-now__subscribe {
      padding: 0;
      border-radius: 0;
      background: none;
      flex-wrap: wrap;

      .subscribe-form__input {
        flex: 0 0 100%;
        border-radius: functions.rem(4);
        background-color: rgba(32, 26, 79, 1);
        margin-bottom: functions.rem(8);
        height: functions.rem(50);
      }

      .subscribe-form__btn {
        flex: 0 0 100%;
        height: functions.rem(50);
        align-items: center;
      }
    }
  }

}