.my-project {
  margin-bottom: 82px;
  text-align: center;
  .txt {
    max-width: 420px;
    margin: 0 auto;
  }
  .wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -15px 90px;
    text-align: left;
    .item {
      width: 33.33%;
      box-sizing: border-box;
      padding: 0 15px;
      margin-bottom: 30px;
      display: flex;
      cursor: default;
      .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $alabaster-color;
        border: $gallery-color 1px solid;
        height: 100%;
        width: 100%;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: bold;
        color: $black-color;
        text-decoration: none !important;
        text-transform: uppercase;
        cursor: pointer;
        span {
          width: 100%;
          text-align: center;
          img {
            display: block;
            margin: 0 auto 15px;
            height: 20px;
          }
        }
      }
      .wr {
        border: $gallery-color 1px solid;
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
      }
      .bottom {
        padding: 16px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $nexa;
        .name {
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 4px;
          font-weight: bold;
        }
        .date {
          font-size: 14px;
          line-height: 24px;
          color: $dusty-gray-color;
          font-weight: 300;
        }
        .btn {
          margin-left: 25px;
          min-width: 0;
          padding: 0 16px;
        }
      }
      .picture {
        height: 195px;
        background-color: $alabaster-color;
        position: relative;
        overflow: hidden;
        > img {
          max-height: 195px;
          display: block;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
        .btns {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity .2s ease-in-out;
          background-color: rgba(247,247,247,0.9);
          cursor: default;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 37px;
            height: 37px;
            background-color: $white-color;
            transition: background-color .2s ease-in-out;
            margin: 0 5px;
            img {
              height: 14px;
            }
            &:hover {
              background-color: $turbo-color;
            }
          }
        }
      }
      &:hover {
        .picture {
          .btns {
            opacity: 1;
          }
        }        
      }
    }
  }  
}