<!DOCTYPE html>
<html lang="en">
@@if (minCss === '.min') {
@@include('./_head.htm', {
    "min": ".min"
  })
}
@@if (minCss !== '.min') {
@@include('./_head.htm', {
    "min": ""
  })
}

<body>
  <div class="wrapper-global">
    @@include('./_header.htm')
    <main class="main">
      <section class="presentation">
<!--        <img class="presentation__bg" src="images/bg.svg" alt=""> -->

        <div class="presentation__main">
          <div class="presentation__bg svg-animation">
            <svg id=svg>
              <g id="inner-top"></g>
              <g id="inner-bottom"></g>
            </svg>
          </div>

          
          <div class="presentation__container">
            <div class="presentation__grid">
              <h1 class="presentation__title">Надежный помощник в лечении варикоза</h1>
              <div class="presentation__slider">
                <div class="slider  swiper">
                  <div class="slider__wrap swiper-wrapper">
                    <div class="slider__item slider__item--num-1 swiper-slide" id="slide1">
                      <picture>
                        <source type="image/webp" srcset="images/box1.webp 1x, images/box1@2x.webp 2x">
                        <img src="images/box1.png" alt="" srcset="images/box1.png 1x, images/box1@2x.png 2x">
                      </picture>
                    </div>
                    <div class="slider__item slider__item--num-2 slider__item--top swiper-slide" id="slide2">
                      <picture>
                        <source type="image/webp" srcset="images/box2.webp 1x, images/box2@2x.webp 2x">
                        <img src="images/box2.png" alt="" srcset="images/box2.png 1x, images/box2@2x.png 2x">
                      </picture>
                    </div>
                    <div class="slider__item slider__item--num-3 swiper-slide" id="slide3">
                      <picture>
                        <source type="image/webp" srcset="images/box3.webp 1x, images/box3@2x.webp 2x">
                        <img src="images/box3.png" alt="" srcset="images/box3.png 1x, images/box3@2x.png 2x">
                      </picture>
                    </div>
                  </div>
                  <div class="slider__controls">
                    <div class="slider__btn-prev">
                      <svg class="icon icon--prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="images/sprite.svg#prev"></use>
                      </svg>
                    </div>
                    <div class="slider__btn-next">
                      <svg class="icon icon--next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="images/sprite.svg#next"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="slider__btn-place">
                    <a class="btn btn--color--transp btn--size--normal" href="#">Где купить &gt;</a>
                  </div>
                </div>
                
              </div>
              <div class="presentation__additional-info">
                <a class="presentation__add-btn add-btn" href="#">                
                  <div class="add-btn__icon-place">
                    <svg class="icon icon--play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use xlink:href="images/sprite.svg#play"></use>
                    </svg>
                  </div>
                  <div class="add-btn__text">Схема приема</div>                
                </a>
                
                <a class="presentation__add-btn add-btn" href="#">                
                  <div class="add-btn__icon-place">
                    <svg class="icon icon--download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use xlink:href="images/sprite.svg#download"></use>
                    </svg>
                  </div>
                  <div class="add-btn__text">Инструкция</div>
                </a>
                
                <a class="presentation__add-btn add-btn" href="#">                
                  <div class="add-btn__icon-place">
                    <svg class="icon icon--position" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <use xlink:href="images/sprite.svg#position"></use>
                    </svg>
                  </div>
                  <div class="add-btn__text">Где купить</div>
                </a>
                
              </div>            
            </div>          
          </div>
        </div>        
        <div class="presentation__disclamer disclamer">
          <div class="disclamer__text">
            Имеются противопоказания, необходимо ознакомиться с инструкцией или получить консультацию специалиста
            <button class="disclamer__close">
              <svg class="icon icon--close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
        </div>
        
      </section>
      <div class="ticker">
        <div class="ticker__inner">
          получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10% &gt;&gt;&gt; получить скидку 10%
        </div>
        <a href="#" class="ticker__link"></a>
      </div>
      <div class="advantages">
        <div class="advantages__container">
          <div class="advantages__item advantag-item">
            <div class="advantag-item__img">
              <svg class="icon icon--cross" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="images/sprite.svg#cross"></use>
              </svg>
            </div>
            <div class="advantag-item__text">
              <span>Доказанная <br> эффективность</span>
            </div>            
          </div>
          <div class="advantages__item advantag-item">
            <div class="advantag-item__img">
              <svg class="icon icon--paper" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="images/sprite.svg#paper"></use>
              </svg>
            </div>
            <div class="advantag-item__text">
              <span>Новая дозировка <br> 100 мг + 900 мг</span>
            </div>            
          </div>
          <div class="advantages__item advantag-item">
            <div class="advantag-item__img">
              <svg class="icon icon--pill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="images/sprite.svg#pill"></use>
              </svg>
            </div>
            <div class="advantag-item__text">
              <span>
                Удобный прием. <br> Одна таблетка в сутки* <span class="advantag-item__hint">i</span>
              </span>
            </div>            
          </div>
        </div>
        
      </div>
      <section class="info-block">
        <div class="info-block__container">
          <div class="info-block__title-block">
            <h4 class="info-block__title">
              О препарате
            </h4>
            <div class="info-block__intro">
              Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).
            </div>
            <a href="#" class="info-block__more-link">Подробнее &gt;</a>
          </div>
          <div class="info-block__content about-drug">
            <div class="about-drug__item item-about-drug">
              <div class="item-about-drug__img">
                <svg class="icon icon--star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="item-about-drug__text">
                Помогает <br> предотвратить судороги
              </div>
            </div>
            <div class="about-drug__item item-about-drug item-about-drug--reverse">
              <div class="item-about-drug__img">
                <svg class="icon icon--spiral" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use xlink:href="images/sprite.svg#spiral"></use>
                </svg>
              </div>
              <div class="item-about-drug__text">
                Способствует <br> снижению тяжести <br> в ногах
              </div>
            </div>
            <div class="about-drug__item item-about-drug">
              <div class="item-about-drug__img">
                <svg class="icon icon--target" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <use xlink:href="images/sprite.svg#target"></use>
                </svg>
              </div>
              <div class="item-about-drug__text">
                Способствует снижению <br> болевых ощущений
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="info-block">
        <div class="info-block__container">
          <div class="info-block__title-block">
            <h4 class="info-block__title">
              Полезная информация
            </h4>
          </div>
          <div class="info-block__content helpful-info">
            <div class="helpful-info__cell helpful-info__cell--one">
              <div class="helpful-info__title">Профилак- <br> тические упражнения</div>
              <picture>
                <source type="image/webp" srcset="images/1.webp 1x, images/1@2x.webp 2x">
                <img src="images/1.png" alt="" srcset="images/1.png 1x, images/1@2x.png 2x">
              </picture>
            </div>
            <div class="helpful-info__cell helpful-info__cell--two">
              <div class="helpful-info__title">Диагностика и способы лечения</div>
              <picture>
                <source type="image/webp" srcset="images/2.webp 1x, images/2@2x.webp 2x">
                <img src="images/2.png" alt="" srcset="images/2.png 1x, images/2@2x.png 2x">
              </picture>
            </div>
            <div class="helpful-info__cell helpful-info__cell--three">
              <div class="helpful-info__title">Планы по питанию</div>
              <picture>
                <source type="image/webp" srcset="images/3.webp 1x, images/3@2x.webp 2x">
                <img src="images/3.png" alt="" srcset="images/3.png 1x, images/3@2x.png 2x">
              </picture>
            </div>
            <div class="helpful-info__cell helpful-info__cell--four">
              <div class="helpful-info__title">Факты о варикозе</div>
            </div>
            <div class="helpful-info__cell helpful-info__cell--btn-place">
              <a href="#" class="btn btn--size--normal btn--color--transp">Подробнее &gt;</a>
            </div>
            
          </div>
        </div>
      </section>

      <section class="info-block">
        <div class="info-block__container">
          <div class="info-block__title-block">
            <h4 class="info-block__title">
              Мнение <br> специалистов
            </h4>
            <div class="info-block__intro">
              Фармакотерапия — неотъемлемый компонент современного лечения хронического заболевания вен.
            </div>
          </div>
          <div class="info-block__content video">
            <div class="video__wrap">
              <picture>
                <source type="image/webp" srcset="images/varikoz.webp 1x, images/varikoz@2x.webp 2x">
                <img class="video__picture" src="images/varikoz.jpg" alt="Коварный варикоз" srcset="images/varikoz.jpg 1x, images/varikoz@2x.jpg 2x">
              </picture>
            </div>
          </div>
        </div>
      </section>

      <section class="info-block">
        <div class="info-block__container">
          <div class="info-block__title-block">
            <h4 class="info-block__title">
              Где <br> купить
            </h4>
            <div class="info-block__intro">
              Ветонизирующее средство ВЕНАРУС вы можете приобрести в аптеках вашего города
            </div>
          </div>
          <div class="info-block__content where-buy">
            <div class="where-buy__images">
              <picture>
                <source type="image/webp" srcset="images/box1.webp 1x, images/box1@2x.webp 2x">
                <img class="where-buy__img where-buy__img--first" src="images/box1.png" alt="" srcset="images/box1.png 1x, images/box1@2x.png 2x">
              </picture>
              <picture>
                <source type="image/webp" srcset="images/box2.webp 1x, images/box2@2x.webp 2x">
                <img class="where-buy__img where-buy__img--second" src="images/box2.png" alt="" srcset="images/box2.png 1x, images/box2@2x.png 2x">
              </picture>
            </div>
            <div class="where-buy__btn-place">
              <a href="https://healthplanet.by/" target="_blank" class="btn btn--size--normal btn--color--transp">healthplanet.by</a>
              <a href="https://pharma.by/" target="_blank" class="btn btn--size--normal btn--color--transp">pharma.by</a>
              <a href="https://apteka-adel.by/" target="_blank" class="btn btn--size--normal btn--color--transp">apteka-adel.by</a>
            </div>            
          </div>
        </div>
      </section>


    </main>
    @@include('./_footer.htm')
  </div>

@@if (production === true) {
  @@scriptStr
} 
@@if (production === false) {
  @@include('./_scripts.htm')
}
</body>
</html>