.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow $animate-time ease-in-out;
  white-space: nowrap;
  text-transform: uppercase;
  border: rem(1.5) solid $color-q;
  font-size: rem(14);
  padding-inline: rem(24);
  padding-block: rem(11);
  font-weight: 500;
  line-height: rem(20);
  border-radius: rem(4);
  box-shadow: 0 0 em(4, 16) $color-q;

  @include min($width-mob) {
    // для планшетов и десктопов >= $width-mob 
    font-size: rem(16);
    padding-block: rem(16);
  }

  &--primary {
    background-color: $color-q;
    color: $color-back-default;

    &:hover {
      box-shadow: 0 0 0.5em $color-q;
      color: $color-back-default;
    }
  }

  &--secondary {
    background-color: rgba(87, 225, 255, 0.2);
    color: $color-q;

    &:hover {
      box-shadow: 0 0 0.8em $color-q;
      color: $color-q;
    }
  }
}