@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/latosemibold.woff2") format("woff2"), url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/latoheavy.woff2") format("woff2"), url("../fonts/latoheavy.woff") format("woff"), url("../fonts/latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, select,
input[type=email], input[type=tel], input[type=number], input[type=password], input[type=text], input[type=date], textarea,
figure, figcaption, picture {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul, ol {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

button,
button:active,
button:focus {
  outline: none;
}

textarea {
  vertical-align: top;
  resize: none;
  overflow: auto;
}

header, footer, section, nav, aside {
  display: block;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

address {
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body > img {
  display: none;
}

/*----Size const------*/
/*----color const------*/
/*----media const------*/
:root {
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1rem;
  /*min-height: 100%;*/
  height: 100%;
  font-family: "Lato", serif;
  background-color: #272733;
  font-weight: normal;
  font-style: normal;
  min-width: 320px;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.9375rem;
}
@media screen and (max-width: 479px) {
  [class*=__container] {
    padding: 0 0.9375rem;
  }
}

body.scroll-lock {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden !important;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper-global {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

body.scroll-lock .wrapper-global {
  overflow-y: scroll;
}

.picture-cover {
  position: relative;
}
.picture-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #43ABF0;
}
a.accept-color:hover {
  text-decoration: underline;
}

.accept-color {
  color: #43ABF0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0.3076923077em;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  padding: 0 1.1538461538em;
  min-width: 14.0769230769em;
  background-color: #43ABF0;
  color: #fff;
  text-transform: uppercase;
  height: 3.3076923077em;
  border: 0.0769230769em solid #43ABF0;
  cursor: pointer;
}
.btn--boder {
  border: 0.0769230769em solid #fff;
}
.btn:hover {
  background-color: #76bfef;
  color: #000;
  border: 0.0769230769em solid #6F6D7B;
}
.btn--white {
  background-color: #fff;
  color: #2A2B30;
  border: 0.0769230769em solid #6F6D7B;
}
.btn--white:hover {
  background-color: #76bfef;
}
.btn--file {
  height: 3.3076923077em;
  padding: 0 0.7692307692em;
  font-size: 1em;
  line-height: 1.8461538462em;
  border-radius: 0.2307692308em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0.1538461538em solid #3E9CDC;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--file img {
  width: 1em;
  display: block;
  margin-right: 0.7692307692em;
}
@media screen and (max-width: 479px) {
  .btn {
    min-width: 10em;
  }
}

.header {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 0.8125rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6.25rem;
}
.header__logo {
  width: 19em;
  margin-right: 1.5384615385em;
}
.header__logo img {
  display: block;
  width: 100%;
}
.header__burger {
  border: none;
  background: none;
  display: none;
}

.menu {
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.menu__close {
  display: none;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__list li:not(:last-child) {
  margin-right: 4.6153846154em;
}
.menu__list a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu__list a:hover {
  color: #43ABF0;
}
.menu__list li.active a {
  color: #43ABF0;
}

@media screen and (max-width: 980px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3D4050;
    width: 20em;
    padding: 0.9375rem;
    padding-top: 5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 100;
  }
  .menu__close {
    display: block;
    position: absolute;
    right: 0.9375rem;
    top: 1.1rem;
    width: auto;
    height: auto;
    padding: 0.7692307692em;
    border: none;
    background: none;
    cursor: pointer;
  }
  .menu__close img {
    display: block;
    width: 1.5rem;
  }
  .menu__list {
    display: block;
    text-align: center;
  }
  .menu__list li:not(:last-child) {
    margin: 0;
    margin-bottom: 2.4em;
  }
  .menu.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__container {
    height: 5rem;
  }
  .header__burger {
    display: block;
    width: auto;
    height: auto;
    padding: 0.7692307692em;
    margin-right: -0.7692307692em;
    cursor: pointer;
  }
  .header__burger img {
    display: block;
    width: 1.5rem;
  }
}
@media screen and (max-width: 479px) {
  .header__logo {
    width: 14.7692307692em;
  }
}
.footer {
  background-color: #3D4050;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1.5384615385em;
  padding: 2.3076923077em 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__copy {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29.5726495726%;
  flex: 0 0 29.5726495726%;
  padding-right: 1.8803418803%;
}
.footer__copy span {
  display: inline-block;
  white-space: nowrap;
}
.footer__pay-sys {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0 1.8803418803%;
}
.footer__pay-sys:before, .footer__pay-sys:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  height: 1.3846153846em;
  -webkit-transform: translateY(-59%);
  -ms-transform: translateY(-59%);
  transform: translateY(-59%);
  width: 1px;
  background-color: #C3C3C3;
}
.footer__pay-sys:after {
  left: auto;
  right: 0;
}
.footer__contacts {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29.5726495726%;
  flex: 0 0 29.5726495726%;
  padding-left: 1.8803418803%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #C3C3C3;
}
.links--contacts {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.links__item {
  padding: 0 2.5581395349%;
  line-height: 0;
}
.links__item--contacts {
  padding: 0 3.3950617284%;
  margin: 0 auto;
}
.links__item--contacts:last-child {
  padding-right: 0;
  margin-right: 0;
}
.links__wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  white-space: nowrap;
  line-height: 1.5384615385em;
}
.links__wrap img {
  width: 1.5384615385em;
  margin-right: 0.7692307692em;
  display: block;
  position: relative;
  top: -0.1em;
}

@media screen and (max-width: 1100px) {
  .links {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .links--contacts {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .links__item {
    padding-left: 0;
    padding-right: 1rem;
  }
  .links__item--contacts {
    padding-left: 0;
    padding-right: 1rem;
  }
  .links__item:last-child {
    padding-right: 0;
  }

  .footer__pay-sys:before, .footer__pay-sys:after {
    height: 2.3076923077em;
  }
}
@media screen and (max-width: 980px) and (min-width: 480px) {
  .footer {
    padding: 1.1538461538em 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__pay-sys, .footer__contacts {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__pay-sys:before, .footer__pay-sys:after, .footer__contacts:before, .footer__contacts:after {
    display: none;
  }
  .footer__pay-sys {
    margin: 0 0 0.7692307692em;
    padding: 0 0 0.7692307692em;
    border-bottom: 1px solid #c3c3c350;
  }
  .footer__contacts {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .footer__copy {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .links {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .links--contacts {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .links__item--contacts {
    padding: 0;
    margin-left: 1.5rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .footer__copy {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .footer__contacts {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 0.7692307692em;
    padding: 0 0 0.7692307692em;
    border-bottom: 1px solid #c3c3c350;
  }

  .links--contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .links__item:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .footer {
    padding: 0.9375rem 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer__pay-sys {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.6666666667em;
    border: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer__pay-sys:before, .footer__pay-sys:after {
    display: none;
  }
  .footer__copy {
    font-size: 0.75rem;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
  }
  .footer__contacts {
    margin: 0;
    padding: 0;
    text-align: right;
    border: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .links__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .links__item--pay-sys {
    padding: 0;
    margin: 0 0 1.1538461538em;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .links__item--pay-sys:last-child {
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .links__item--contacts {
    padding: 0;
    margin: 0 0 1.1538461538em;
  }
  .links--contacts {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.text-on-picture {
  min-height: 53.125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.text-on-picture__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.text-on-picture__text {
  max-width: 59rem;
  font-size: 1.25rem;
  line-height: 1.2em;
  position: relative;
  z-index: 2;
}
.text-on-picture__title {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6666666667em;
}
.text-on-picture__subtitle {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.text-on-picture__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-on-picture__list li {
  padding-left: 1.25em;
  position: relative;
  margin-bottom: 0.25em;
}
.text-on-picture__list li:last-child {
  margin-bottom: 0;
}
.text-on-picture__list li:before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  line-height: 1em;
  text-align: center;
}
.text-on-picture__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 6.1538461538em;
  font-size: 0.65em;
}
.text-on-picture__btns .btn:not(:last-child) {
  margin-right: 1.5em;
}
@media screen and (max-width: 980px) {
  .text-on-picture {
    padding-top: 5rem;
    min-height: 48rem;
  }
  .text-on-picture__text {
    max-width: 40rem;
  }
}
@media screen and (max-width: 767px) {
  .text-on-picture {
    min-height: 40rem;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
  }
  .text-on-picture__img img {
    -o-object-position: center left;
    object-position: center left;
  }
  .text-on-picture__btns {
    margin-top: 3.0769230769em;
    font-size: 0.8125rem;
  }
  .text-on-picture__title {
    margin-bottom: 0.8333333333em;
  }
}
@media screen and (max-width: 479px) {
  .text-on-picture__text {
    font-size: 0.9375rem;
  }
}

.custom-select {
  position: relative;
  z-index: 1;
}
.custom-select.active {
  z-index: 1100;
}
.custom-select.active .custom-select__dropdown {
  margin-top: 0;
  left: 0;
}
.custom-select.active .custom-select__clickable {
  background-color: rgba(61, 64, 80, 0.85);
  border-radius: 0.1666666667em 0.1666666667em 0 0;
  color: #fff;
  border-color: rgba(61, 64, 80, 0.85);
}
.custom-select.active .custom-select__clickable:after {
  background-position: center -100vh, center;
  background-size: auto auto, contain;
}
.custom-select.active .custom-select__overlay {
  display: block;
}
.custom-select__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
.custom-select__clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: inherit;
  height: 2.6666666667em;
  padding: 0 0.5555555556em;
  padding-right: 2em;
  font-size: 1em;
  border-radius: 0.1666666667em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0.0555555556em solid #fff;
  position: relative;
  z-index: 11;
}
.custom-select__clickable:after {
  content: "";
  width: 1.1111111111em;
  height: 1.1111111111em;
  position: absolute;
  right: 0.7777777778em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../images/icon-chevron.svg") no-repeat center, url("../images/icon-chevron-up.svg") no-repeat center -100vh;
  background-size: contain, auto auto;
}
.custom-select__dropdown {
  background: rgba(39, 39, 51, 0.9);
  color: #fff;
  font-size: 1em;
  line-height: 1.3333333333em;
  border-radius: 0 0 0.1666666667em 0.1666666667em;
  border: 1px solid #3D4050;
  border-top: none;
  position: absolute;
  left: -10000vw;
  width: 100%;
  top: 100%;
  z-index: 12;
  margin-top: -0.8333333333em;
  -webkit-transition: margin-top 0.3s ease-in-out;
  -o-transition: margin-top 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out;
  height: 8.3333333333em;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #43ABF0 #3D4050;
}
.custom-select__dropdown::-webkit-scrollbar {
  width: 0.3333333333em;
}
.custom-select__dropdown::-webkit-scrollbar-track {
  background: #3D4050;
}
.custom-select__dropdown::-webkit-scrollbar-thumb {
  background-color: #43ABF0;
  border-radius: 0.1666666667em;
}
.custom-select__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.custom-select__list-link {
  display: block;
  padding: 0.2777777778em 0.5555555556em;
  text-decoration: none !important;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.custom-select__list-link:hover {
  background: none;
  color: #43ABF0;
}
.custom-select__list-link--selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select__select {
  position: absolute;
  left: -10000vw;
}

.form-order {
  font-size: 1.125rem;
  padding: 6.7222222222em 0 8.3888888889em;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
}
.form-order__header {
  margin-bottom: 4.4444444444em;
}
.form-order__layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.6666666667em;
}
.form-order__cell--for-slider {
  grid-column: 1/3;
}
.form-order__cell--btn-place {
  font-size: 0.8125rem;
  grid-column: 2/3;
  padding-top: 1.3888888889em;
}
.form-order__btn {
  width: 100%;
  height: 3.6923076923em;
}
.form-order__our-scheme {
  margin: 0 2.4444444444em 2.2222222222em;
}
.form-order__our-scheme--mob {
  display: none !important;
}
@media screen and (max-width: 1100px) {
  .form-order__our-scheme {
    margin-left: 2.1111111111em;
    margin-right: 2.1111111111em;
  }
}
@media screen and (max-width: 980px) {
  .form-order__layout {
    -webkit-column-gap: 1.1111111111em;
    -moz-column-gap: 1.1111111111em;
    column-gap: 1.1111111111em;
  }
  .form-order__our-scheme {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form-order__our-scheme--mob {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-top: 2.5em;
  }
}
@media screen and (max-width: 767px) {
  .form-order__layout {
    grid-template-columns: 1fr;
    gap: 1.9444444444em;
  }
  .form-order__cell {
    grid-column: 1/2;
    min-height: 2.6666666667em;
  }
  .form-order__cell--for-slider {
    grid-column: 1/2;
  }
  .form-order__our-scheme {
    font-size: 1rem;
  }
}
@media screen and (max-width: 479px) {
  .form-order__our-scheme {
    margin-bottom: 5em;
  }
}

.form-header {
  text-align: center;
}
.form-header__title {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.form-header__description {
  font-size: 1em;
  margin-top: 1.6666666667em;
  line-height: 1.2em;
  color: #BBBBBB;
}

.form-field {
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form-field input[type=email], .form-field input[type=tel], .form-field input[type=number], .form-field input[type=password], .form-field input[type=text], .form-field input[type=date] {
  display: block;
  line-height: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  height: 2.6666666667em;
  padding: 0 0.5555555556em;
  font-size: 1em;
  border-radius: 0.1666666667em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0.0555555556em solid #fff;
}
.form-field ::-webkit-input-placeholder {
  color: #272733;
  opacity: 1;
}
.form-field ::-moz-placeholder {
  color: #272733;
  opacity: 1;
}
.form-field :-moz-placeholder {
  color: #272733;
  opacity: 1;
}
.form-field :-ms-input-placeholder {
  opacity: 1;
  color: #272733;
}
.form-field--for-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}
.form-field--file {
  position: relative;
  overflow: hidden;
  font-size: 0.8125rem;
}
.form-field--file input[type=file] {
  position: absolute;
  left: -10000vw;
}
.form-field__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form-field__value {
  white-space: nowrap;
  margin-left: 1rem;
}
.form-field__slider {
  height: 0.3333333333em;
  border-radius: 0.1666666667em;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.form-field__slider .ui-slider-handle {
  width: 1.3333333333em;
  height: 1.3333333333em;
  position: absolute;
  margin-left: -0.6666666667em;
  top: 50%;
  margin-top: -0.6666666667em;
  background-color: #43ABF0;
  border: 0.1666666667em solid #286690;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .form-field__label {
    margin-bottom: 1.1111111111em;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.our-scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-scheme__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5.5555555556em;
  flex: 0 0 5.5555555556em;
  min-width: 0;
  margin-bottom: 2.2222222222em;
}
.our-scheme__divider {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 2.6111111111em 0.2222222222em 0;
}
.our-scheme__dot {
  width: 0.3333333333em;
  height: 0.3333333333em;
  border-radius: 50%;
  background-color: #C4C4C4;
}
@media screen and (max-width: 1100px) {
  .our-scheme__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.7222222222em;
    flex: 0 0 4.7222222222em;
  }
  .our-scheme__divider {
    margin-top: 2.1944444444em;
  }
}
@media screen and (max-width: 980px) {
  .our-scheme {
    max-width: 32.2222222222em;
    margin-left: auto;
    margin-right: auto;
  }
  .our-scheme__divider:last-child {
    display: none;
  }
  .our-scheme__divider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  .our-scheme__divider:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .our-scheme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    margin-left: 8%;
    margin-right: 4.5%;
  }
  .our-scheme__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }
  .our-scheme__divider {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    height: 4.6875em;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 2.1875em;
  }
}

.step__icon {
  height: 5.5555555556em;
  border-radius: 50%;
  border: 0.2777777778em solid #286690;
  background-color: #43ABF0;
  position: relative;
  margin-bottom: 1.1111111111em;
}
.step__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.step__description {
  width: 188%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0.8888888889em;
  line-height: 1.2em;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .step__icon {
    height: 4.7222222222em;
  }
}
@media screen and (max-width: 479px) {
  .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .step__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.6875em;
    flex: 0 0 4.6875em;
    height: 4.6875em;
    margin-right: 1.25em;
    margin-bottom: 0;
  }
  .step__description {
    width: auto;
    position: static;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */
