.contact-us {
  padding: rem(60) 0 rem(48);
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: rem(56);
    flex: 0 0 100%;
  }

  &__item {
    flex: 0 0 perc(451.67, 1440);
    border: 1px solid #4F4F4F;
    border-radius: rem(8);
    padding: rem(40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    transition: all $animate-time ease-in-out;
    color: inherit;
    &:hover {
      background-color: $gold-color;
      color: $back-default-color;
      .contact-us__icon-type {
        background-color: $back-default-color;
      }
      .contact-us__icon-arrow {
        opacity: 1;
      }
      .icon--mail, .icon--skype, .icon--telegram {
        animation-name: icon;
      }
    }
  }

  @keyframes icon {
    0% {
      transform: scale(0);
    }
    
    100% {
      transform: scale(1);
    }
  }
  
  .icon--mail, .icon--skype, .icon--telegram {
    animation-duration: $animate-time;
    animation-fill-mode: forwards; // оставит конечные сво-ва после анимации
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
  }
  
  &__icon-type {
    transition: all $animate-time ease-in-out;
  }

  &__icon-arrow {
    position: absolute;
    right: rem(40);
    top: rem(40);
    opacity: 0;
    stroke: $back-default-color;
    @include sizerem(58, 58);
    transition: all $animate-time ease-in-out;
  }

  &__link {
    @include fontrem(26, 35.36, 700);
    text-decoration: underline;
    color: inherit;
    margin-top: rem(40);
  }

  @include max($mob-width) {
    padding: rem(48) 0 rem(40);
    &__container {
      display: block;
    }

    &__title {
      margin-bottom: rem(32);
    }

    &__item {
      padding: rem(20);
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }

    &__icon-type {
      @include sizerem(60, 60);
    }

    &__icon-arrow {
      @include sizerem(38, 38);
    }

    &__link {
      @include fontrem(20, 27);
    }
  }
}
