.fast-nav {
  @include no-list;
  top: 5rem;
  position: sticky;
  padding-bottom: 0;
  
  &__item {
    padding: rem(16) 0 rem(16) rem(42);
    position: relative;
    color: #999;
    &.active {
      color: #fff;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @include sizerem(18);
        background: linear-gradient(90deg, rgba(245, 198, 71, 0.31) 0%, rgba(245, 198, 71, 0) 100%);
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @include sizerem(8);
        border-radius: 0 rem(4) rem(4) 0;
        background-color: $gold-color;
        z-index: 2;
      }
    }
  }

  &__link {
    @include fontrem(24, 32.64, 700);
    color: inherit;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  @include max($mob-width) {

    &__item {
    }

    &__link {
    }
  }
}
