@font-face {
  font-family: "Exo2.0";
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Exo2.0-Thin.woff2') format('woff2'),
       url('../fonts/Exo2.0-Thin.woff') format('woff');
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/NeueMachina-Regular.woff2') format('woff2'),
       url('../fonts/NeueMachina-Regular.woff') format('woff');
}




/*
font-family: "Exo2.0";
font-family: "NeueMachina";
*/