.text-n-picture {
  display: flex;

  &__text {
    flex: 1 1 auto;
    order: 2;
    position: relative;
    z-index: 2;
  }

  &__picture {
    flex: 0 0 perc(576, 1440);
    margin-right: rem(44);
    position: relative;
    z-index: 1;
    &--faq {
      flex: 0 0 perc(449, 1440);
      margin-left: rem(44);
      margin-right: 0;
    }
  }

  &__picture-with-shadow {
    @include absolute-center(-54.5%, -48.5%);
    @include sizerem(822, 1064);
    &--faq {
      @include absolute-center(-43%, -70%);
      @include sizerem(798, 974);
    }
  }
  @include max($mob-width) {
    display: block;
    &__picture {
      margin-right: 0;
      &--faq {
        display: none;
      }
    }
    &__picture-with-shadow {
      width: auto;
      height: rem(640);
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: rem(-84);
      top: auto;
    }
  }
}
