
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body > img {
  display: none;
}

a {
  transition: 0.3s all ease-out;
  cursor: pointer;
}

select, input {
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  line-height: 1;
}

button,
button:active,
button:focus {
  outline: none;
}
