.avatar {
  display: flex;
  flex-direction: column;
  font-size: vh(16, 1080);

  &__picture {
    background: linear-gradient(#292729, #292729) padding-box,
      linear-gradient(135deg, #2CE0DA, #0066FF) border-box;
    border: em(4, 16) solid transparent;
    border-radius: 50%;
    position: relative;
    width: em(97, 16);
    height: em(97, 16);
    flex: 0 0 em(97, 16);
    margin: 0 auto em(12, 16);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }

  &__indicator {
    position: absolute;
    top: perc(7, 97);
    right: perc(-3, 97);
    border-width: em(3, 16);
  }

  &__user-name {
    text-align: center;
    font-size: em(20, 16);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: em(5, 20);
    letter-spacing: em(.6, 20);
  }

  &__email {
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: em(.48, 16);
    color: #8B8A8B;
  }

  &__link-change {
    font-size: em(16, 11.54);
    margin-left: em(27, 11.54);
    color: #2865AD;
    text-decoration: none;
    font-weight: 600;
    line-height: normal;

    &:hover {
      text-decoration: none;
    }
  }

  &--avatar-change {
    flex-direction: row;
    align-items: center;
    font-size: vh(11.54, 1080);

    .avatar__picture {
      margin: 0;
    }
  }

  @media screen and (orientation: portrait) {
    font-size: vw(12, 320);

    &__picture {}

    &__img {}

    &__indicator {}

    &__user-name {}

    &__email {}
  }
}