.burger {
  position: relative;
  border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 32px;
  height: 21px;
  padding: 0;

  &__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1.5px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }

  &__icon {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }

  &:after {
    left: auto;
    top: auto;
    bottom: 0;
    width: perc(21, 32);
    transition: width $animate-time ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &.active {

    &:before,
    &:after,
    .burger__line {
      display: none;
    }

    .burger__icon {
      display: block;
    }
  }

  @media screen and (orientation: portrait) {
    width: vw(32, 320);
    height: vw(20, 320);

    &__line,
    &:after,
    &:before {
      height: vw(3, 320);
      border-radius: vw(3, 320);
    }

    &__line {
      top: 50%;
      margin-top: vw(-1.5, 320);
    }
  }
}