.deposit {

  padding: em(32, 17) em(25, 17) em(15, 17);
  background-color: #323232;
  border: 1px solid #3E3E3E;
  border-radius: em(25, 17);
  display: flex;
  flex-direction: column;

  &__num {
    text-align: center;
    line-height: 1;
    letter-spacing: em(-0.08, 17);
    font-weight: 600;
    margin-bottom: em(17.6, 17);
  }

  &__sum {
    font-size: em(34, 17);
    line-height: 1;
    letter-spacing: em(-0.17, 34);
    font-weight: 600;
    margin-bottom: em(9.6, 34);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__qurrency {
    font-size: em(17, 34);
  }

  &__date {
    font-size: em(14, 17);
    text-align: center;
    margin-bottom: em(27, 14);
    font-weight: 500;
    letter-spacing: em(-0.07, 14);
  }

  &__parameters-list {
    font-size: em(15, 17);
    font-weight: 400;
    line-height: 1.2;
    @include no-list;

    li {
      padding-left: em(32, 15);
      background: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none"><path d="M4.14771 9.24404C3.89166 8.91912 3.90129 8.45845 4.17068 8.1445C4.53092 7.72469 5.18709 7.74585 5.51954 8.18798L6.32165 9.25473L9.67139 5.1316C9.9943 4.73414 10.6 4.7311 10.9269 5.12529C11.1714 5.42016 11.1766 5.84579 10.9394 6.14658L6.32165 12.0027L4.14771 9.24404Z" fill="white" /><circle cx="7.52621" cy="8.18333" r="6.7903" stroke="white" stroke-width="0.848787" /></svg>') no-repeat center;
      background-size: em(14.5, 15);
      background-position: left top;

      &:not(:last-child) {
        margin-bottom: em(12, 15);
      }
    }
  }

  @media screen and (orientation: portrait) {
    &__num {}

    &__sum {}

    &__date {}

    &__parameters-list {}
  }
}