.graphik {
  display: flex;
  flex-direction: column;

  &__moonths {
    margin-bottom: vh(20, 1080);
  }

  &__canvas {
    position: relative;
    flex: 1 1 auto;

    canvas {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @media screen and (orientation: portrait) {
    flex-direction: row;

    &__canvas {
      order: 1;
    }

    &__moonths {
      order: 2;
      margin-left: vw(10, 320);
    }
  }
}