.indicator {
  width: em(20, 16);
  height: em(20, 16);
  border-radius: 50%;
  border: 3px solid #323232;

  &--online {
    background-color: #00B65E;
  }

  &--offline {
    background-color: #F03E40;
  }

  @include max($tab-width) {
    &--online {}
  }
}