.main {
  display: flex;
  flex-direction: column;

  &__statistics {
    margin-bottom: vh(44, 1080);
    flex: 0 0 auto;
  }

  &__replenish {
    flex: 0 0 auto;
    margin-bottom: vh(22, 1080);

    &--replenish-type {
      margin-bottom: vh(50, 1080);
    }
  }

  &__referals {
    flex: 0 0 auto;
    margin-bottom: vh(48, 1080);
  }


  &__graphik {
    flex: 1 1 auto;
    margin-bottom: vh(18, 1080);
    // height: vh(318, 1080);
  }

  &__deposits-slider {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    font-size: vh(17, 1080);
    margin-bottom: vh(10, 1080);
    display: flex;
    flex-direction: column;
    min-height: vh(326, 1080);
  }

  &__table {
    max-height: vh(292, 1080);
    //overflow: auto;
    min-width: 0;
    min-height: 0;

    &--greedy-height {
      max-height: none;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__article {
    min-height: 0;
    min-width: 0;
  }

  &__withdraw,
  &__settings {
    margin-bottom: vh(48, 1080);
  }

  @media screen and (orientation: portrait) {
    &__statistics {
      margin-bottom: vw(20, 320);
    }

    &__table {
      max-height: none;
    }

    &__graphik {
      display: none;
    }

    &__deposits-slider {
      font-size: vw(16, 320);
      margin-bottom: vw(10, 320);
      min-height: 0;
    }

    &__replenish {
      margin-bottom: vw(16, 320);
    }

    &__referals {
      margin-bottom: vw(16, 320);
    }
  }
}