.replenish-block {
  padding: vh(25, 1080) vh(22, 1080) vh(20, 1080);
  border-radius: em(17, 14);
  border: 1px solid #6F6F6F;
  background: url("../images/bg-replenish.jpg") no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-columns: auto 1fr vh(196, 1080);
  grid-template-rows: auto;
  gap: vh(25, 1080);
  line-height: normal;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: em(30, 14);
    font-weight: 600;
    line-height: normal;
    letter-spacing: em(.9, 30);
    white-space: nowrap;
  }

  &__description {}

  &__form {
    padding-left: vh(25, 1080);
  }

  @media screen and (max-width: 165vh) and (min-width: 155.0001vh) {
    grid-template-columns: 1fr vh(196, 1080);
    column-gap: vh(25, 1080);
    row-gap: vh(14, 1080);

    &__title {
      grid-column: 1 / 3;

      br {
        display: none;
      }
    }
  }

  @media screen and (max-width: 125vh) {
    grid-template-columns: 1fr vh(196, 1080);
    column-gap: vh(25, 1080);
    row-gap: vh(14, 1080);

    &__title {
      grid-column: 1 / 3;

      br {
        display: none;
      }
    }
  }

  @media screen and (orientation: portrait) {
    padding: vw(12, 320);
    display: block;
    background: url("../images/bg-replenish-p.jpg") no-repeat center;
    background-size: cover;

    &__title {
      white-space: normal;
      font-size: em(16, 11);
      margin-bottom: em(8, 16);
    }

    &__description {
      margin-bottom: vw(16, 320);
    }

    &__form {
      padding-left: 0;
    }
  }
}