.replenish-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: vh(12, 1080);

  &__title {
    margin-bottom: vh(31, 1080);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__title-item {
    font-size: em(28, 14);
    font-weight: 600;
    line-height: normal;
    letter-spacing: em(.9, 30);
    margin-bottom: em(13, 28);
  }

  &__item {
    font-size: vh(14, 1080);
    padding: vh(18, 1080) vh(22, 1080);
    border-radius: em(17, 14);
    border: 1px solid #6F6F6F;

    &:nth-of-type(1) {
      background: url("../images/bg-replenish-1.jpg") no-repeat center right;
      background-size: cover;
    }

    &:nth-of-type(2) {
      background: url("../images/bg-replenish-2.jpg") no-repeat center right;
      background-size: cover;
    }
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: vh(10, 1080);
    row-gap: vh(20, 1080);
    letter-spacing: normal;

    p {
      grid-column: 1 / 3;
      font-size: em(13, 14);

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    p:has(+ .replenish-type__btn) {
      grid-column: 1 / 2;
      font-size: em(14, 14);
      letter-spacing: em(.42, 14);
    }
  }

  &__btn {
    grid-column: 2 / 3;
  }

  @media screen and (orientation: portrait) {
    display: block;

    &__title {
      margin-bottom: 1em;
    }

    &__item {
      font-size: vw(11, 320);
      margin-bottom: vw(10, 320);
      padding: vw(12, 320);

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-of-type(1) {
        background: url("../images/bg-replenish-1-p.jpg") no-repeat top center;
        background-size: cover;
      }

      &:nth-of-type(2) {
        background: url("../images/bg-replenish-2-p.jpg") no-repeat top center;
        background-size: cover;
      }
    }

    &__title-item {
      font-size: em(16, 11);
      margin-bottom: em(8, 16);
    }

    &__description {
      column-gap: vw(5, 320);
      row-gap: vw(14, 320);
    }
  }
}