$default-font: 'Montserrat', sans-serif;

//*----Color const-----*/
$back-default-color: #292729;
$text-default-color: #fff;

$link-default-color: $text-default-color;
$link-hover-default-color: $text-default-color;
$link-decoration: none;
$link-hover-decoration: underline;
//*----Size const------*/
$rem-size: 16;

//$width-container: 1440;
$padding-container: 0;
$padding-container-tab: 0;
$padding-container-mob: 0;
$padding-container-xs: 0;

//*----media const------*/
$desk-sm-width: 1510;
$tab-width: 992;
$mob-width: 768;
$xs-mob-width: 575;
$min-width: 320;

$animate-time: .2s;