.withdraw {

  &__title {
    margin-bottom: vh(50, 1080);
  }

  &__form {
    font-size: vh(12.77, 1080);
    max-width: vh(380, 1080);
  }

  @media screen and (orientation: portrait) {
    &__title {
      margin-bottom: vw(16, 320);
    }

    &__form {
      font-size: vw(10, 320);
      max-width: none;
    }
  }
}