@import "variables";
@import "./lib/reset";
@import "./lib/mixins";

@import "./lib/btn";
@import "./lib/slide-nav";

//@import "./fonts";
@import "./global";
@import "./title-block";
@import "./description";
@import "./text-rounded-block";
@import "./btn-round";
@import "./rules";
@import "./footer";
@import "./burger";
@import "./header";
@import "./navigation";
@import "./contacts-link";
@import "./statistics";
@import "./table-main";
@import "./moonths";
@import "./graphik";
@import "./main";
@import "./aside";
@import "./aside-block";
@import "./daily-profit";
@import "./table-profit";
@import "./user-panel";
@import "./indicator";
@import "./avatar";
@import "./available-withdraw";
@import "./referal-info";
@import "./layout";
@import "./tooltipe-chart";
@import "./scroll";
@import "./deposit";
@import "./deposits-slider";
@import "./gradient-text";
@import "./form-replenish";
@import "./replenish-block";
@import "./replenish";
@import "./replenish-type";
@import "./btn-n-arrow";
@import "./referals";
@import "./article";
@import "./form-user-info";
@import "./settings";
@import "./withdraw";
@import "./wallet";
@import "./pop-up-window";
@import "./pop-up";