@use "../../../styles/helpers/functions";
@use "../../../styles/helpers/mixins";
@use "../../../styles/helpers/variables";

.hero {
  color: variables.$color-white;
  padding: functions.rem(40) 0 functions.rem(61) 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height));
  justify-content: center;

  @include mixins.min(variables.$width-mob) {
    // для планшетов и десктопов
    padding: functions.rem(160) 0 functions.rem(194) 0;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: functions.rem(33);

    @include mixins.min(1060) {
      // для планшетов и десктопов
      flex-direction: row;
      gap: functions.rem(20);
    }
  }

  &__text {
    flex: 1 1 50%;
  }

  &__title {
    font-size: functions.rem(35);
    font-weight: bold;
    line-height: 1.23;
    text-transform: uppercase;
    margin-bottom: functions.rem(12);
    font-kerning: none;
    text-rendering: optimizeSpeed;
    opacity: 0;

    @include mixins.min(variables.$width-mob) {
      // для планшетов и десктопов >= 768px
      font-size: functions.rem(50);
      text-align: center;
    }

    @include mixins.min(1060) {
      // @include min(a, b) {...}
      // a <= x <= b
      text-align: left;
    }

    @include mixins.min(variables.$width-tab) {
      // >= 1262px
      font-size: functions.rem(60);
    }

  }

  &__description {
    font-size: functions.rem(16);
    line-height: functions.rem(20);
    margin-bottom: functions.rem(24);
    opacity: 0;

    @include mixins.min(variables.$width-mob) {
      // >= $width-mob
      text-align: center;
    }

    @include mixins.min(1060) {
      // >= $width-tab
      text-align: left;
    }
  }

  &__note {
    font-size: functions.rem(14);
    color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    margin: 0;
  }

  &__form {
    margin-bottom: functions.rem(12);
    opacity: 0;
  }

  &__image {
    flex: 1 1 50%;
    display: flex;

    picture {
      display: flex;
      flex: 1 1 auto;
      margin: auto;
    }

    img {
      max-width: 100%;
      width: functions.rem(469);
      height: auto;
      margin: auto;
      display: block;
      // transition: all $animate-time ease-in-out;
      scale: 0;
      // rotate: -275deg;
      // transform: scale(0) rotate(-275deg);
    }
  }
}