/*.gray-bg {
  background-color: $zircon-color;
  header {
    .top {
      background-color:$white-color;
    }
  }
}*/
.create-account, .login-simple, .forgot-passw, .set-new-passw {
  max-width: 460px;
  margin: 0 auto;  
  text-align: center;
  margin-bottom: 100px;
  &:first-child {
    padding-top: 50px;
  }
  article {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    color: $slate-gray-color;
    margin-bottom: 26px;
    p {
      text-align: center;
    }
  }
  .form {
    text-align: left;
    padding: 50px;
    border: $mystic-color 1px solid;
    background-color: $white-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
    .row-form:last-child {
      margin-bottom: 0;
    }
    p {
      text-align: center;
      font: normal 14px/16px $roboto;
      color: $slate-gray-color;
      margin-bottom: 0;
    }
    .note {
      text-align: center;
    }
    .divider {
      margin-bottom: 15px;
      border-top: $mystic-color 1px solid;
      text-align: center;
      //display: none;
      span {
        display: block;
        font: normal 12px/14px $roboto;
        color: $slate-gray-color;
        width: 35px;
        background-color: $white-color;
        margin-top: -8px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .link {
      font: 500 14px/16px $roboto;
      text-align: right;
      a {
        transition: all 0s ease 0s;
      }
    }
    .controls.passw {
      position: relative;
      input {
        padding-right: 50px;
      }
      .show-passw {
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 50px;
        background: url('../images/svg/preview.svg') no-repeat center;
        background-size: 19px 13px;
        cursor: pointer;
      }
    }
    .btn {
      display: block;
      width: 100%;
      img {
        vertical-align: middle;
        margin-right: 10px;
        width: 20px;
        margin-top: -3px;
      }
    }
  }
  @media (max-width: $device-mob) {
    &:first-child {
      padding-top: 20px;
    }
    .form {
      padding: 20px;
    }
    article {
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 20px;
      ul {
        font: normal 14px/16px $roboto;
        li {
          background-position: left top;
          & + li {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.account-message {
  padding-top: 50px;
  max-width: 650px;
  text-align: center;
  margin: 0 auto 100px;
  &.short {
    max-width: 510px;
  }
  p {
    font: normal 16px/27px $roboto;
    color: $slate-gray-color;
  }
}
