.form {
  @include placeholder($fields-placeholders-color, $opacity-placeholder);
  input[type='email'], input[type='search'], input[type='number'], input[type='password'], input[type='text'], input[type='tel'], textarea {
    display: block;
    height: $fields-height + 2;
    padding-left: $left-right-space;
    padding-right: $left-right-space;
    line-height: 1;
    font-size: $fields-font;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $fields-background;
    border: $fields-border-color $fields-border-width solid;
    -webkit-border-radius: $radius-field;
    border-radius: $radius-field;
    font-family: inherit;
    color: $fields-text-color;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
  }
  textarea {
    height: auto;
    overflow: auto;
    padding-top: ($fields-height - $fields-font - 2px) / 2;
    padding-bottom: ($fields-height - $fields-font - 2px) / 2;
  }
  input[type='search']:focus, input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='text']:focus, input[type='tel']:focus, textarea:focus {
    border: $fields-border-active-color $fields-border-width solid;
/*    box-shadow: inset 0 0 4px 0 rgba(109,132,148,0.1), 0 2px 4px 0 rgba(0,0,0,0.5);*/
  }
  input.error, textarea.error {
    border: $error-border-color 1px solid;
    & + .error-list {
      display: block;
    }
  }

  .select-custom {
    background-color: $fields-background;
    border: $fields-border-color $fields-border-width solid;
    border-radius: $radius-field;
    position: relative;
    &::after {
      background: url('../images/svg/arrow-down.svg') no-repeat right center;
      background-size: 100% 100%;
      width: 16px;
      height: 7px;
      display: block;
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    select {
      width: 100%;
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: $radius-field;
      height: $fields-height;
      padding-right: $select-right-space;
      padding-left: $left-right-space - 3px;
      font-size: $fields-font;
      color: $fields-text-color;
      line-height: $fields-height - 2px;
      font-family: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none !important;
    }
    &.no-border {
      border: none;
      &::after {
        right: 0;
        width: 10px;
        height: 5px;
      }
    }
    &.read-only {
      position: relative;
      select {
        background-color: $fields-disable-bg-color;
      }
      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
      }
    }
    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $fields-text-color;
    }
    select::-ms-expand {
      display: none;
    }
    select::focus {
      outline: none;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      select {
        text-indent: $left-right-space - 3px;
        padding-left: 0;
      }
    }
  }
  .btn-place, .total-row {
    .controls {
      &::after {
        display: none !important;
      }
    }
    &.text-justify {
      .controls {
        display: flex;
        justify-content: space-between; /*flex-start flex-end center space-around*/
        align-items: center; /*flex-start flex-end center baseline*/
      }
    }
    &.text-left {
      .controls {
        display: flex;
        justify-content: flex-start; /*flex-start flex-end center space-around*/
        align-items: center; /*flex-start flex-end center baseline*/
      }
      button {
        margin-right: 15px;
      }
    }
    &.text-right {
      .controls {
        display: flex;
        justify-content: flex-end; /*flex-start flex-end center space-around*/
        align-items: center; /*flex-start flex-end center baseline*/
      }
      button {
        margin-left: 15px;
      }
    }
  }
  .vertical-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $label-font;;
    line-height: $label-line-height;
    margin-bottom: $label-line-height;
    li {
      margin-bottom: $row-bottom-space;
    }
  }
  .one-half {
    float: left;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    & + .one-half {
      padding-left: $fields-space / 2;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  .one-third {
    float: left;
    width: 33.33%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    &:last-child {
      padding-right: 0;
    }
    & + .one-third {
      padding-left: $fields-space / 2;
    }
    & + .two-third {
      padding-right: 0;
      padding-left: $fields-space / 2;
    }
  }

  .two-third {
    width: 66.66%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    & + .one-third {
      padding-right: 0;
      padding-left: $fields-space / 2;
    }
  }

  .one-four {
    float: left;
    width: 25%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    &:last-child {
      padding-right: 0;
    }
    & + .one-four, & + .two-four, & + .three-four {
      padding-left: $fields-space / 2;
    }
  }

  .two-four {
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    & + .one-four, & + .two-four, & + .three-four {
      padding-left: $fields-space / 2;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .three-four {
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding-right: $fields-space / 2;
    & + .one-four, & + .two-four {
      padding-right: 0;
      padding-left: $fields-space / 2;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  @media (max-width: $device-mob) {
    .full-mob {
      padding: 0 !important;
      width: 100%;
      & + .full-mob {
        margin-top: $row-bottom-space;
      }
      & + .one-half-mob {
        margin-top: $row-bottom-space;
        padding-left: 0;
        padding-right:  $fields-space / 2;
      }
    }

    .last-mob {
      padding-right: 0 !important;
      margin-bottom: $row-bottom-space;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    .first-mob {
      padding-left: 0 !important;
      padding-right: $fields-space / 2 !important;
    }

    .one-half-mob {
      float: left;
      width: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      padding-right: $fields-space / 2;
      & + .one-half-mob {
        padding-left: $fields-space / 2;
        padding-right: 0;
      }
      & + .full-mob {
        margin-top: $row-bottom-space;
      }
    }

    .one-third-mob {
      float: left;
      width: 33.33%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      padding-right: $fields-space / 2;
      &:last-child {
        padding-right: 0;
      }
      & + .one-third-mob {
        padding-left: $fields-space / 2;
      }
      & + .two-third-mob {
        padding-right: 0;
        padding-left: $fields-space / 2;
      }
    }

    .two-third-mob {
      width: 66.66%;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      padding-right: $fields-space / 2;
      & + .one-third-mob {
        padding-right: 0;
        padding-left: $fields-space / 2;
      }
    }

    .one-four-mob {
      float: left;
      width: 25%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      padding-right: $fields-space / 2;
      &:last-child {
        padding-right: 0;
      }
      & + .one-four-mob {
        padding-left: $fields-space / 2;
      }
      & + .two-four-mob {
        padding-left: $fields-space / 2;
      }
    }

    .two-four-mob {
      width: 50%;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      padding-right: $fields-space / 2;
      & + .one-four-mob {
        padding-right: 0;
        padding-left: $fields-space / 2;
      }
    }
  }
  .errorlist {
    @include no-list;
    font-size: 14px;
    line-height: 1.2;
    color: $error-list-color;
    padding-top:5px;
    font-weight: 400;

    li {
      & + li {
        margin-top: 4px;
      }      
    }
  }
  .error-place:after {
    @include clear;
  }
  .error {
    @include placeholder($error-placeholder, $opacity-placeholder);
    position: relative;
    &:after {
      display: none;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      right: 15px;
      top:15px;
      background-color: $error-border-color;
    }
    input, textarea {
      border: $error-border-color $fields-border-width solid !important;
      padding-right: $select-right-space;
    }
  }
  
  .input-checkbox, .list-checkbox {
    label {
      cursor: pointer;
      font-size: $font-label-chk;
      font-weight: $weight-label-chk;
    }
    input[type='checkbox'] + label:before {
      content: "";
      display: inline-block;
      width: $size-chk;
      height: $size-chk;
      background: url("../images/checkbox.png") no-repeat center $size-chk * -2;
      background-size: $size-chk auto !important;
      vertical-align: middle;
      //margin-top: -1px;
      margin-right: $space-left-for-chk - $size-chk;
    }

    input[type='radio'] + label:before {
      content: "";
      display: inline-block;
      width: $size-chk;
      height: $size-chk;
      background: url("../images/radio.png") no-repeat center $size-chk * -2;
      background-size: $size-chk auto !important;
      vertical-align: middle;
      //margin-top: -1px;
      margin-right: $space-left-for-chk - $size-chk;
    }

    input[type='checkbox'], input[type='radio'] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }

    input[type='checkbox']:checked + label:before, input[type='radio']:checked + label:before {
      background-position: left top;
    }
    input[type='checkbox']:checked + label, input[type='radio']:checked + label {
      font-weight: 500;
      color: $mirage-color;      
    }
    input[type='checkbox']:disabled + label:before, input[type='radio']:disabled + label:before {
      background-position: center $size-chk * -3;
    }
    input + label:hover:before {
      background-position: center $size-chk * -1;
    }

  }
  .list-checkbox.vertical {
    line-height: $line-height-label-chk;
    font-size: $font-label-chk;
    font-weight: $weight-label-chk;
    @include no-list;
    li {
      padding-left: $space-left-for-chk;
      margin-bottom: $space-bottom-label;
      &:after {
        @include clear;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    label:before {
      float: left;
      margin-left: -$space-left-for-chk;
  //    margin-top: ($line-height-label-chk - $size-chk) / 2;
    }
  }
  .list-checkbox.horisontal {
    line-height: $line-height-label-chk;
    font-size: $font-label-chk;
    font-weight: $weight-label-chk;
    @include no-list;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    li {
      padding-left: $space-left-for-chk;
      margin-bottom: $space-bottom-horisontal-label;
      margin-right: $space-right-label;
      &:after {
        @include clear;
      }
    }
    label:before {
      float: left;
      margin-left: -$space-left-for-chk;
      margin-top: ($line-height-label-chk - $size-chk) / 2;
    }
  }
  &.new-form-horisontal {
    .list-checkbox.horisontal {
      li {
        margin-top: ($fields-height - $label-line-height) / 2;
        margin-bottom: 0;
      }
    }
  }
}

.form.form-vertical {
  .row-form {
    margin-bottom: $row-bottom-space;
    display: table;
    width: 100%;
  }
  .controls:after {
    @include clear;
  }
  .label {
    font-size: $label-font;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: $slate-gray-color;
  }
}

.form .note, .form .help-text {
  font-size: 12px;
  line-height: 14px;
  color: $slate-gray-color;
  margin: 8px 0 10px !important;
  font-weight: normal;
}

.form.form-horisontal {
  .wrap {
    display: table;
    width: 100%;
    .row-form {
      display: table-row;
    }
    .label {
      padding-right: $left-right-space;
      vertical-align: middle;
      text-align: right;
      //font-weight: 500;
      font-size: $label-font;
      width: $label-width;
      padding-bottom: $row-bottom-space;
      display: table-cell;
      color: $label-color;
      &.valign-top {
        padding-top: ($fields-height - $label-line-height) / 2;
        vertical-align: top;
      }
      label {
        display: inline-block;
        float: none;
        line-height: 16px;
        width: auto;
      }
    }
    .controls {
      padding-bottom: $row-bottom-space;
      display: table-cell;
      &:after {
        @include clear;
      }
    }
  }
}
